<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/boss/boss_style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/boss/bosscolors_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="boss/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>	
</body>
</html>