<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admin_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/factory_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admincolors_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="admin/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header" th:text="#{header.factories}"></h1>
		</div>

	 	<div class="button_container">
			<a class="stage-button" th:href="@{/admin/newfactory}" th:text="#{button.newfactory}"></a>
		</div>
		<p class="error_message" th:text="${emsg}"></p>
		<table>
			<tr>
				<th class="td_lp">Lp.</th>
				<th class="td_lp">ID</th>
				<th>Status</th>
				<th>PKD</th>
				<th>NIP</th>
				<th>KRS</th>
				<th th:text="#{shortname}"></th>
				<th th:text="#{fullname}"></th>
				<th th:text="#{hourlyRate}"></th>
				<th class="numberofworker" th:text="#{numOfWorkers}"></th>
				<th th:text="#{address}"></th>
				<th th:text="#{postcode}"></th>
				<th th:text="#{city}"></th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="i, it : ${factory_list}">
				<td th:text="${it.count}"></td>
				<td th:text="${i.id}"></td>
				<td>
					<span th:if="${i.status.name() == 'DISABLED'}" class="dot-orange"></span> 
					<span th:unless="${i.status.name() == 'DISABLED'}" class="dot-green"></span>
				</td>
				<td th:text="${i.pkd}" class="pkd"></td>
				<td th:text="${i.nip}" class="nip"></td>
				<td th:text="${i.krs}" class="krs"></td>
				<td th:text="${i.shortname}"></td>
				<td th:text="${i.fullname}"></td>
				<td th:text="${i.hourlyrate}" class="hourlyrate"></td>
				<td th:text="${i.numberofwokers}" class="numberofworker"></td>
				<td th:text="${i.address}"></td>
				<td class="postcode" th:text="${i.postcode}"></td>
				<td th:text="${i.city}"></td>
				<td class="td_short_button">
					<a th:href="@{'/admin/factory/edit/' + ${i.id}}" class="aButton" th:text="#{button.edit}"></a>
				</td>
				<td class="td_short_button">
					<a th:if="${i.status.name() == 'DISABLED'}" th:href="@{'/admin/factory/enable/' + ${i.id}}" class="aButton" th:text="#{button.activate}"></a>
					<a th:if="${i.status.name() == 'ENABLED'}" th:href="@{'/admin/factory/disable/' + ${i.id}}" class="aButton" th:text="#{button.deactivate}"></a>
				</td>
			</tr>
		</table>	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>