<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admin_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/factory_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admincolors_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="admin/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header">Fabryki</h1>
		</div>

	 	<div class="button_container">
			<a class="button_new" th:href="@{/admin/newfactory}">Nowa Fabryka</a>
		</div>
		
		<table>
			<tr>
				<th class="td_lp">Lp.</th>
				<th>pkd</th>
				<th>nip</th>
				<th>krs</th>
				<th>Short name</th>
				<th>full name</th>
				<th>hourly rate</th>
				<th class="numberofworker">Num of woker</th>
				<th>address</th>
				<th>post code</th>
				<th>city</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="i, it : ${factory_list}">
				<td th:text="${it.count}"></td>
				<td th:text="${i.pkd}" class="pkd"></td>
				<td th:text="${i.nip}" class="nip"></td>
				<td th:text="${i.krs}" class="krs"></td>
				<td th:text="${i.shortname}"></td>
				<td th:text="${i.fullname}"></td>
				<td th:text="${i.hourlyrate}" class="hourlyrate"></td>
				<td th:text="${i.numberofwokers}" class="numberofworker"></td>
				<td th:text="${i.address}"></td>
				<td class="postcode" th:text="${i.postcode}"></td>
				<td th:text="${i.city}"></td>
				<td class="td_short_button">
					<a th:href="@{'/admin/factory/edit/' + ${i.id}}" class="tdbutton">Edit</a>
				</td>
				<td class="td_short_button">
					<a th:href="@{'/admin/factory/delete/' + ${i.id}}" class="tdbutton">Usuń</a>
				</td>
				
			</tr>
		</table>
		
		
	
		
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>