<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admin_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/log_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/workers_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admincolors_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="admin/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header" th:text="#{header.logs}"></h1>
		</div>
		
		<div class="table-container">
		
		<form th:action="@{/admin/logs/filter}" method="post" th:object="${logFilter}">
		<div class="filter-bar">
			
			<div class="filter-panel">
				<div class="header-filter">
					<label for="bytext" th:text="#{h2.TEXT}"></label>
					<input th:if="${logFilter.bytext == true}" type="checkbox" name="bytext" id="bytext" checked>
					<input th:unless="${logFilter.bytext == true}" type="checkbox" name="bytext" id="bytext">
				</div>
				
				<div class="fields-groups">
					<div class="check-div">
						<label for="texttosearch" th:text="#{label.text}"></label>
					</div>
					<div class="check-div">	
						<input type="text" name="texttosearch" id="texttosearch" >
					</div>
				</div>
			</div>	
			
			<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
				
			<div class="filter-panel">
				<div class="header-filter">
					<label for="byTimestamp" th:text="#{label.date}"></label>
					<input th:if="${logFilter.byTimestamp == true}" type="checkbox" name="byTimestamp" id="byTimestamp" checked>
					<input th:unless="${logFilter.byTimestamp == true}" type="checkbox" name="byTimestamp" id="byTimestamp">
				</div>
				<div class="fields-groups">
					<div class="radio-div">
						<input th:if="${logFilter.timestampMethod.name() == 'EQUAL'}" type="radio" name="timestampMethod" id="timestampEqual" value="EQUAL" checked>
						<input th:unless="${logFilter.timestampMethod.name() == 'EQUAL'}" type="radio" name="timestampMethod" id="timestampEqual" value="EQUAL" >
						<label for="timestampEqual" th:text="#{radio.exactly}"></label>
					</div>
					<div class="radio-div">
						<input th:if="${logFilter.timestampMethod.name() == 'RANGE'}" type="radio" name="timestampMethod" id="timestampRange" value="RANGE" checked>
						<input th:unless="${logFilter.timestampMethod.name() == 'RANGE'}" type="radio" name="timestampMethod" id="timestampRange" value="RANGE">
						<label for="timestampRange" th:text="#{radio.contains}"></label>
					</div>
					<div class="radio-div">
						<label for="timestamp" id="labelbirthfrom" th:text="#{from}"></label>
						<label for="timestamp" id="lablebirthequal" th:text="#{label.date}">:</label>
					</div>
					<div class="radio-div">							
						<input type="datetime-local" name="timestamp" id="timestamp" th:field="*{timestamp}">
					</div>
					<div class="radio-div">
						<label for="timestampTo" th:text="#{to}"></label>
					</div>
					<div class="radio-div">
						
						<input type="datetime-local" name="timestampTo" id="timestampTo" th:field="*{timestampTo}">
					</div>
				</div>
			</div> 	
			
			<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
			
			<div class="filter-panel">
				<div class="header-filter">
					<label>TYPE</label>
				</div>
				<div class="fields-groups">				
					<div class="radio-div">
						<input th:if="${logFilter.byType == 'ALL'}" type="radio" name="byType" id="ALL" value="ALL" checked>
						<input th:unless="${logFilter.byType == 'ALL'}" type="radio" name="byType" id="ALL" value="ALL">
						<label for="ALL" th:text="#{all}"></label>
					</div>
					<div class="radio-div">
						<input th:if="${logFilter.byType == 'CREATE'}" type="radio" name="byType" id="CREATE" value="CREATE" checked>
						<input th:unless="${logFilter.byType == 'CREATE'}" type="radio" name="byType" id="CREATE" value="CREATE">
						<label for="CREATE">CREATE</label>
					</div>
					<div class="radio-div">
						<input th:if="${logFilter.byType == 'MODIFY'}" type="radio" name="byType" id="MODIFY" value="MODIFY" checked>
						<input th:unless="${logFilter.byType == 'MODIFY'}" type="radio" name="byType" id="MODIFY" value="MODIFY">
						<label for="MODIFY">MODIFY</label>
					</div>
					<div class="radio-div">
						<input th:if="${logFilter.byType == 'DELETE'}" type="radio" name="byType" id="DELETE" value="DELETE" checked>
						<input th:unless="${logFilter.byType == 'DELETE'}" type="radio" name="byType" id="DELETE" value="DELETE">
						<label for="DELETE">DELETE</label>
					</div>
				</div>
				
				<div class="header-filter">
					<label>Peson</label>
				</div>
				<div class="fields-groups">
				<select>
					<option></option>
					<option th:each="entry : ${emplyees}" th:value="${entry.key}" th:text="${entry.value}"></option>
				</select>	
				</div>
			</div>
			
		</div>
		<div class="button-bar">
			<button class="button" name="filter" value="new" type="submit" th:text="#{button.filterAgain}"></button>
			<button class="button" name="filter" value="next" type="submit" th:text="#{button.filterFurther}"></button>
			<button class="button" name="filter" value="reset" type="submit" th:text="#{button.reset}"> </button>
		</div>
		</form>
		
		
			<table>
				<tr>
					<th class="td-date" th:text="#{label.date}"></th>
					<th class="td-who" th:text="#{label.who}"></th>
					<th class="td-type" th:text="#{label.type}"></th>
					<th class="" th:text="#{label.event}"></th>
				</tr>
				<tr>
					<td>
						<form th:action="@{/admin/logs/sort}" method="post">
							<input type="hidden" name="field" value="TIMESTAMP">
							<button class="sort-button" name="sortT" value="down">&#8659;</button>
							<button class="sort-button" name="sortT" value="up">&#8657;</button>
						</form>
					</td>

					<td>
						<form th:action="@{/admin/logs/sort}" method="post">
							<input type="hidden" name="field" value="WHO">
							<button class="sort-button" name="sortT" value="down">&#8659;</button>
							<button class="sort-button" name="sortT" value="up">&#8657;</button>
						</form>
					</td>
					<td>
						<form th:action="@{/admin/logs/sort}" method="post">
							<input type="hidden" name="field" value="LOGTYPE">
							<button class="sort-button" name="sortT" value="down">&#8659;</button>
							<button class="sort-button" name="sortT" value="up">&#8657;</button>
						</form>
					</td>
					<td></td>
				</tr>
				<tr th:each="i : ${logs}">
					<td>
						<span th:text="${i.date}"></span><br>
						<span th:text="${i.time}"></span>
					</td>
				<!-- 	<td th:text="${#temporals.format(i.tstamp, 'dd-MM-yyyy HH:mm')}"></td> -->
					<td th:text="${i.who}"></td>
					<td th:text="${i.logtype}"></td>
					<td th:utext="${i.message}"></td>
					
				</tr>
			
			</table>
		
		</div>
		
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>

<script src="/scripts/LogsFilter.js"></script>
<script type="text/javascript">
//Onload

console.log("elo")
if(document.getElementById("bytext").checked == true){
	document.getElementById("texttosearch").disabled = false;
	
}else{
	console.log("Zlo")
	document.getElementById("texttosearch").innerHTML = "xxxxx"";
	document.getElementById("texttosearch").disabled = true;
	
}


/////////////////////////////
////////////////////////


document.getElementById("bytext").onchange = function(){
	if(document.getElementById("bytext").checked == true){
		document.getElementById("texttosearch").disabled = false;
		
	}else{
		document.getElementById("texttosearch").disabled = true;
	}
}
 


if(document.getElementById("byTimestamp").checked == true){
	document.getElementById("timestampEqual").disabled = false;
	document.getElementById("timestampRange").disabled = false;
	document.getElementById("timestamp").disabled = false;
	document.getElementById("timestampTo").disabled = false;
	
	if(document.getElementById("timestampEqual").checked == true){
		document.getElementById("timestampTo").disabled = true;
	}
}else{
	document.getElementById("timestampEqual").disabled = true;
	document.getElementById("timestampRange").disabled = true;
	document.getElementById("timestamp").disabled = true;
	document.getElementById("timestampTo").disabled = true;
}

/*
if(document.getElementById("timestampEqual").checked == true){
	document.getElementById("lablebirthequal").hidden = false
	document.getElementById("labelbirthfrom").hidden = true
}else{
	document.getElementById("lablebirthequal").hidden = true
	document.getElementById("labelbirthfrom").hidden = false
}


document.getElementById("byTimestamp").onchange = function(){
	if(document.getElementById("byTimestamp").checked == true){
		document.getElementById("timestampEqual").disabled = false;
		document.getElementById("timestampRange").disabled = false;
		document.getElementById("timestamp").disabled = false;
		document.getElementById("timestampTo").disabled = false;
		
		if(document.getElementById("timestampEqual").checked == true){
			document.getElementById("timestampTo").disabled = true;
		}
	}else{
		document.getElementById("timestampEqual").disabled = true;
		document.getElementById("timestampRange").disabled = true;
		document.getElementById("timestamp").disabled = true;
		document.getElementById("timestampTo").disabled = true;
	}
}

document.getElementById("timestampEqual").onchange = function(){
	document.getElementById("timestampTo").disabled = true;
	document.getElementById("lablebirthequal").hidden = false
	document.getElementById("labelbirthfrom").hidden = true
}

document.getElementById("timestampRange").onchange = function(){
	document.getElementById("timestampTo").disabled = false;
	document.getElementById("lablebirthequal").hidden = true
	document.getElementById("labelbirthfrom").hidden = false
}







 */
</script>
</html>