<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admin_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/employee_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admincolors_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="admin/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->

		<div class="header-container">
			<h1 class="header-header" th:text="#{button.newEmployee}"></h1>
		</div>
		
		
		<div class="outer-container2">
		<div class="H">
				<h2 th:text="#{label.summary}"></h2>
		</div>
			<div class="d-row">
				<div>
					<p> <span style="color: #edd400;" th:text="#{firstname}">:</span> <span th:text="${newEmployeeModel.firstname}"></span></p>
					<p> <span style="color: #edd400;" th:text="#{lastname}">:</span> <span th:text="${newEmployeeModel.lastname}"></span></p>
					<p> <span style="color: #edd400;" th:text="#{email}">:</span> <span th:text="${newEmployeeModel.email}"></span></p>
					<p> <span style="color: #edd400;" th:text="#{phone}">:</span> <span th:text="${newEmployeeModel.phone}"></span></p>
				</div>
				<div >
					<p><span style="color: #edd400;" th:text="#{sex}">:</span> <span th:text="${newEmployeeModel.sex}"></span></p>	
					<p><span style="color: #edd400;">Login:</span> <span th:text="${newEmployeeModel.username}"></span></p>
					<p><span style="color: #edd400;" th:text="#{password}">:</span> <span th:text="${newEmployeeModel.password}"></span></p>
				</div>
			</div>
			<div>
				<form th:action="@{/admin/newemployee/download}" method="post">
					<input type="hidden" name="id" id="id" th:value="${id}"> 
					<input type="hidden" name="pass" th:value="${pass}">
					<button type="submit" class="button-accept" th:text="#{button.download}"></button>
				</form>
			</div>
		</div>
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>

</html>