<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admin_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/employee_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admincolors_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="admin/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->

		<div class="header-container">
			<h1 class="header-header" th:text="#{button.newEmployee}"></h1>
		</div>
		
		<p th:text="${warning_message}" class="error_message"></p>
		<p class="error_message"></p>
	 	
	 	<form th:action="@{/admin/newemployee/add}" method="post" th:object="${newEmployeeModel}">
	 		
	 		<div class="outer-container">
	 		
	 			
	 			<p class="error_message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
	 			<div class="c-row">
		 			<label class="passNewEmployee2" for="username">login</label>
		 			<input type="text" minlength="3"  id="username" name="username" th:field="*{username}" required>
	 			</div>
	 			
	 			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
	 			<div class="c-row">
		 			<label class="passNewEmployee2" for="password" th:text="#{password}"></label>
		 			<input type="password" minlength="6" id="password" name="password" required>
	 			</div>
	 			<div class="c-row">
		 			<label class="passNewEmployee2" for="password2" th:text="#{passwordAgain}"></label>
		 			<input type="password" minlength="6" id="password2" name="password2" required>
				</div>
				<input type="hidden" name="firstname" th:field="*{firstname}">
				<input type="hidden" name="lastname" th:field="*{lastname}">
				<input type="hidden" name="email" th:field="*{email}">
				<input type="hidden" name="phone" th:field="*{phone}">
				<input type="hidden" name="sex" th:field="*{sex}">
				<input type="hidden" name="position" th:field="*{position}">
				<div style="margin-top: 20px;">
	 				<button class="button-accept" type="submit" th:text="#{button.next}"></button>
	 			</div>
	 		</div>
	 	</form>
	 	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>

</html>