<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" /> 
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/accommodation_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
	
	 <script src="https://kit.fontawesome.com/7ccfa6815b.js" crossorigin="anonymous"></script>
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header">Zakwaterowanie</h1>
		</div>

	 	<div class="container">
	 		<form th:action="@{/accdetail}" method="post" th:object="${house}">
	 		<input type="hidden" name="id" th:field="*{id}">
	 		<div class="section-header"><h3>Dane adresowe</h3></div>
	 			<div class="inputcontainer">
	 				<div class="label-div">
	 					<label for="address">Address</label>
	 				</div>
	 				<div class="input-div">
	 					<input type="text" id="address" name="address" th:field="*{address}" required disabled>
	 				</div>
	 			</div>
	 			<!-- ----------------------------- -->
	 			
	 			<div class="inputcontainer">
	 				<div class="label-div">
	 					<label for="postcode">Kod pocztowy</label>
	 				</div>
	 				<div class="input-div">
	 					<input type="text" id="postcode" name="postcode" th:field="*{postcode}" disabled>
	 				</div>
	 			</div>
	 			<!-- ----------------------------- -->
	 			<div class="inputcontainer">
	 				<div class="label-div">
	 					<label for="city">City</label>
	 				</div>
	 				<div class="input-div">
	 					<input type="text" id="city" name="city" th:field="*{city}" required disabled>
	 				</div>
	 			</div>
	 			<div class="section-button">
	 				<label for="editaddress">Edytuj</label>
					<input class="chxEdit" type="checkbox" id="editaddress">
					<button id="savebuttonAddress" class="savebutton" name="edit" value="address" type="submit" disabled>Zmień</button>
					<button id="savebuttonAddress" class="savebutton" name="edit" value="reset" type="submit">Reset</button>
	 			</div>
	 		
	 			

	 		</form>
	 	</div>
	 	
	 	<!-- ##################################################################### -->

	 	<div class="container">
	 		<form th:action="@{/accdetail}" method="post" th:object="${house}">
	 		<input type="hidden" name="id" th:field="*{id}">
	 		<div class="section-header"><h3>Dane finansowe</h3></div>
	 			<div class="inputcontainer">
	 				<div class="label-div">
	 					<label for="rent">Czynsz</label>
	 				</div>
	 				<div class="input-div">
	 					<input type="number" min="0" step="0.01" id="rent" name="rent" th:field="*{rent}" required disabled>
	 				</div>
	 			</div>
	 			<!-- ----------------------------- -->
	 			
	 			<div class="inputcontainer">
	 				<div class="label-div">
	 					<label for="media">Media</label>
	 				</div>
	 				<div class="input-div">
	 					<input type="number" min="0" step="0.01" id="media" name="media" th:field="*{media}" disabled>
	 				</div>
	 			</div>
	 			<!-- ----------------------------- -->
	 			<div class="inputcontainer">
	 				<div class="label-div">
	 					<label for="deposit">Depozyt</label>
	 				</div>
	 				<div class="input-div">
	 					<input type="number" min="0" step="0.01" id="deposit" name="deposit" th:field="*{deposit}" disabled>
	 				</div>
	 			</div>
	 			<!-- ----------------------------- -->
	 			<div class="inputcontainer" style="width: 66%">
	 				<div class="label-div">
	 					<label for="typecost">Typ wyliczeń</label>
	 				</div>
	 				<div class="input-div">
	 					<label for="typecostrent">Czynsz</label>
				 		<input th:if="${house.costType.name() == 'RENT'}" type="radio" id="typecostrent" name="costType" value="RENT" disabled checked>
				 		<input th:unless="${house.costType.name() == 'RENT'}" type="radio" id="typecostrent" name="costType" value="RENT" disabled>
				 		
				 		<label for="typecostrentmedia">czynsz + media</label>
				 		<input th:if="${house.costType.name() == 'MEDIARENT'}" type="radio" id="typecostrentmedia" name="costType" value="MEDIARENT" disabled checked>
				 		<input th:unless="${house.costType.name() == 'MEDIARENT'}" type="radio" id="typecostrentmedia" name="costType" value="MEDIARENT" disabled>
				 		<label for="typecostrentmedia">koszt na osobę</label>
				 		<input th:if="${house.costType.name() == 'PERPERSON'}" type="radio" id="typecostperperson" name="costType" value="PERPERSON" disabled checked>
				 		<input th:unless="${house.costType.name() == 'PERPERSON'}" type="radio" id="typecostperperson" name="costType" value="PERPERSON" disabled>
	 				</div>
	 			</div>
	 			<!-- ----------------------------- -->
	 			<div class="inputcontainer">
	 				<div class="label-div">
	 					<label for=perperson>Koszt na osobę</label>
	 				</div>
	 				<div class="input-div">
	 					<input type="number" min="0" step="0.01" id="perperson" name="perperson" th:field="*{perperson}" disabled>
	 				</div>
	 			</div>
	 			<div class="section-button">
	 				<label for="editfinance">Edytuj</label>
					<input class="chxEdit" type="checkbox" id="editfinance">
					<button id="savebuttonFinance" class="savebutton" name="edit" value="finance" type="submit" disabled>Zmień</button>
					<button class="savebutton" name="edit" value="reset" type="submit">Reset</button>
	 			</div>
	 		

	 		</form>
	 	</div>
	 	
	 	<!-- ##################################################################### -->

	<div class="container">
	 		<div class="section-header"><h3>Inne</h3></div>
	 			
	 			<div class="inputcontainer">
		 			<form th:action="@{/accdetail}" method="post" th:object="${house}">	
		 				<input type="hidden" name="id" th:field="*{id}">
		 				<div class="section-header"><h2>Lider</h2></div>
		 				<div class="label-div">
		 					<p th:text="${house.lidername}"></p>
		 				</div>
		 				<div class="label-div">
		 					<label for="lider">Bonus:</label>
		 				</div>
		 				<div class="label-div">
		 					<p th:text="${house.liderbonus}"></p>
		 				</div>
		 					
		 		
		 				<div class="label-div">
		 					<label for="editlider">Edit</label>
		 					<input type="checkbox" id="editlider">
		 				</div>
		 				
		 				<div class="label-div">
			 				<label for="liderid"></label>
			 			</div>
		 				<div class="input-div"> 
		 					<select id="liderid" name="liderid" disabled>
		 						<option th:each="i : ${houshold}" th:value="${i.id}" th:text="${i.value}"></option>
		 					</select>
		 				</div>
		 				<div class="label-div">
		 					<label for="lider">Bonus:</label>
		 				</div>
		 				<div class="label-div">
		 					<input type="number" min="0" step="0.01" id="liderbonus" name="liderbonus" disabled>
		 				</div>
		 				<div class="section-button">
							<button id="savebuttonLider" class="savebutton" name="edit" value="lider" type="submit" disabled>Zmień</button>
			 			</div>
			 		</form>
			 		<div class="section-button">
		 				<form th:action="@{/accdetail}" method="post" th:object="${house}">
		 					<input type="hidden" name="id" th:field="*{id}">
		 					<button  class="savebutton" name="edit" value="reset" type="submit">Reset</button>
		 				</form>
		 			</div>
			 	</div> 
						<!-- ----------------------------- -->
					<div class="inputcontainer-wide">
						<div class="section-header"><h2>Info</h2></div>
		 				<div class="label-div">
		 					<p class="stat"><span>Liczba pokoi:</span> <span th:text="${house.noofrooms}"></span></p>
		 					<p class="stat"><span>Liczba miejsc:</span> <span th:text="${house.capacity}"></span></p>
		 					<p class="stat"><span>Miejsca zajęte</span> <span th:text="${house.occupied}"></span></p>
		 					<p class="stat"><span>Miejsca wolne</span> <span th:text="${house.capacity - house.occupied}"></span></p>
		 				</div>
		 				<div class="section-header"><h2>Uwagi</h2></div>
		 				<form th:action="@{/accdetail}"  method="post" th:object="${house}">
		 					<input type="hidden" name="id" th:field="*{id}">
			 				<div class="input-div">
			 					<textarea id="remark" name="remark" th:text="${house.remark}"></textarea>	
			 				</div>
			 				<div class="input-div">
			 					<button id="savebuttonLider" class="savebutton" name="edit" value="remark" type="submit">Zapisz</button>
			 					<button type="button" class="savebutton" id="clearremake">Czyść</button>
			 				</div>
		 				</form>
		 			</div>
	</div>			 				
			 				

	
	<!-- ************************************************************************* -->
		 <div class="button_container">
			<a class="button_new"   th:href="@{'/accomoperation/addroom/' + ${house.id}} ">Nowy Pokój</a>
		</div>
	<!-- ************************************************************************* -->
	<div class="rooms-container">
		<div class="room" th:each="r : ${rooms}">
			<div class="room-header">
				<div class="room-header-div">
					<span class="room-header-header"  th:text="${'room: ' + r.roomname + ' (' + r.occupied + '/' + r.capacity + ')'}"></span>	
				</div>
				<div class="room-buttons-div">
					<a class="icon-right-top" th:href="@{'/accomoperation/addbed/' + ${r.id}}"><i class="fas fa-plus"></i></a>
					<a  onclick="return confirm('Are you sure?')" class="icon-right-top" th:href="@{'/accomoperation/removeroom/' + ${r.id}}"><i class="fas fa-trash-alt"></i></a>
				</div>
			</div>
			
			<div class="room-content">
				<table>
					<tr>
						<th>person</th>
						<th>data</th>
						<th></th>
						<th></th>
					</tr>
					<tr th:each="b : ${r.bedViewList}">
						<td th:if="${b.bedstatus.name() == 'FREE'}">FREE</td>
						<td th:unless="${b.bedstatus.name() == 'FREE'}" th:text="${b.workername}"></td>
						<td th:text="${b.expire}"></td>
						<td class="ico-td" th:if="${b.bedstatus.name() == 'FREE'}">
							<a th:href="@{'/accomoperation/addPerson/' + ${b.id}}"><i class="fas fa-user-plus"></i></a>
						</td>
						<td class="ico-td" onclick="return confirm('Are you sure?')" th:unless="${b.bedstatus.name() == 'FREE'}">
							<a th:href="@{'/accomoperation/removePerson/' + ${b.id}}"><i class="fas fa-user-minus"></i></a>
						</td>
						<td class="ico-td">
							<a th:href="@{'/accomoperation/removebed/' + ${b.id} }" onclick="return confirm('Are you sure?')"><i class="fas fa-minus"></i></a>
						</td>
					</tr>
				</table>
			</div>
			<div class="room-note">
				<form th:action="@{/accomoperation/saveroomnote}" method="post">
					<input type="hidden" name="roomid" th:value="${r.id}">
					<input type="hidden" name="houseid" th:value="${house.id}">
					<div>
						<label style="color: black" for="remark">Uwagi</label>
					</div>
					<div style="padding: 5px;">
						<textarea id="remark" name="remark" style="resize: none" th:text="${r.remark}"></textarea>
					</div>
					<div>
						<button class="savebutton" type="submit">Zapisz</button>
					</div>
				</form>
			</div>

		</div>

	</div>
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
<script type="text/javascript" src="/scripts/housedetils.js"></script>

</html>