<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" /> 
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/accommodation_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
	
	 <script src="https://kit.fontawesome.com/7ccfa6815b.js" crossorigin="anonymous"></script>
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header" th:text="#{menu.accommodation}"></h1>
		</div>

	 	<div class="container">
	 		<form th:action="@{/accdetail}" method="post" th:object="${house}">
		 		<input type="hidden" name="id" th:field="*{id}">
		 		<div class="section-header"><h3 th:text="#{address}"></h3></div>
		 			<div class="input-row-container">
		 			<div class="inputcontainer">
		 				<div class="label-div">
		 					<label for="address" th:text="#{address}"></label>
		 				</div>
		 				<div class="input-div">
		 					<input type="text" id="address" name="address" th:field="*{address}" required disabled>
		 				</div>
		 			</div>
		 			<!-- ----------------------------- -->
		 			
		 			<div class="inputcontainer">
		 				<div class="label-div">
		 					<label for="postcode" th:text="#{postcode}"></label>
		 				</div>
		 				<div class="input-div">
		 					<input type="text" id="postcode" name="postcode" th:field="*{postcode}" disabled>
		 				</div>
		 			</div>
		 			<!-- ----------------------------- -->
		 			<div class="inputcontainer">
		 				<div class="label-div">
		 					<label for="city" th:text="#{city}"></label>
		 				</div>
		 				<div class="input-div">
		 					<input type="text" id="city" name="city" th:field="*{city}" required disabled>
		 				</div>
		 			</div>
	 			</div>
	 			<div class="input-row-center">
	 			<div class="section-button">
	 				<div>
	 				<label for="editaddress" th:text="#{button.edit}"></label>
	 				</div>
	 				<div>
					<input class="chxEdit" type="checkbox" id="editaddress">
					</div>
					<button id="savebuttonAddress" class="button" name="edit" value="address" type="submit" disabled th:text="#{button.change}"></button>
					<button id="savebuttonAddress" class="button" name="edit" value="reset" type="submit" th:text="#{button.reset}"></button>
	 			</div>
	 			</div>
	 		
	 			

	 		</form>
	 	</div>
	 	
	 	<!-- ##################################################################### -->

	 	<div class="container">
	 		<form th:action="@{/accdetail}" method="post" th:object="${house}">
	 		<input type="hidden" name="id" th:field="*{id}">
	 		<div class="section-header"><h3 th:text="#{label.finance}"></h3></div>
	 		<div class="input-row-container">
	 			<div class="inputcontainer">
	 				<div class="label-div">
	 					<label for="rent" th:text="#{label.rent}"></label>
	 				</div>
	 				<div class="input-div">
	 					<input type="number" min="0" step="0.01" id="rent" name="rent" th:field="*{rent}" required disabled>
	 				</div>
	 			</div>
	 			<!-- ----------------------------- -->
	 			
	 			<div class="inputcontainer">
	 				<div class="label-div">
	 					<label for="media" th:text="#{label.media}"></label>
	 				</div>
	 				<div class="input-div">
	 					<input type="number" min="0" step="0.01" id="media" name="media" th:field="*{media}" disabled>
	 				</div>
	 			</div>
	 			<!-- ----------------------------- -->
	 			<div class="inputcontainer">
	 				<div class="label-div">
	 					<label for="deposit" th:text="#{label.deposit}"></label>
	 				</div>
	 				<div class="input-div">
	 					<input type="number" min="0" step="0.01" id="deposit" name="deposit" th:field="*{deposit}" disabled>
	 				</div>
	 			</div>
	 		</div>
	 		<div class="input-row-center">
	 			<!-- ----------------------------- -->
	 			<div class="inputcontainer" >
	 				<div class="label-div">
	 					<label for="typecost" th:text="#{label.typeOfCalculation}"></label>
	 				</div>
	 				<div class="input-div">
	 					<label for="typecostrent" th:text="#{label.rent}"></label>
				 		<input th:if="${house.costType.name() == 'RENT'}" type="radio" id="typecostrent" name="costType" onchange="changeTypeOfCalculation(this)" value="RENT" disabled checked>
				 		<input th:unless="${house.costType.name() == 'RENT'}" type="radio" id="typecostrent" name="costType" onchange="changeTypeOfCalculation(this)" value="RENT" disabled>
				 		
				 		<label for="typecostrentmedia" th:text="#{label.rentMedia}"></label>
				 		<input th:if="${house.costType.name() == 'MEDIARENT'}" type="radio" id="typecostrentmedia" name="costType" onchange="changeTypeOfCalculation(this)" value="MEDIARENT" disabled checked>
				 		<input th:unless="${house.costType.name() == 'MEDIARENT'}" type="radio" id="typecostrentmedia" name="costType" onchange="changeTypeOfCalculation(this)" value="MEDIARENT" disabled>
				 		<label for="typecostperperson" th:text="#{label.perPerson}"></label>
				 		<input th:if="${house.costType.name() == 'PERPERSON'}" type="radio" id="typecostperperson" name="costType" onchange="changeTypeOfCalculation(this)" value="PERPERSON" disabled checked>
				 		<input th:unless="${house.costType.name() == 'PERPERSON'}" type="radio" id="typecostperperson" name="costType" onchange="changeTypeOfCalculation(this)" value="PERPERSON" disabled>
	 				</div>
	 			</div>
	 		</div>
	 		<div class="input-row-center">
	 			<!-- ----------------------------- -->
	 			<div class="inputcontainer">
	 				<div class="label-div">
	 					<label for=perperson th:text="#{label.costPerPerson}"></label>
	 				</div>
	 				<div class="input-div">
	 					<input type="number" min="0" step="0.01" id="perperson" name="perperson" th:field="*{perperson}" disabled>
	 				</div>
	 			</div>
	 		</div>
	 		<div class="input-row-center">
	 			<div class="section-button">
	 				<div>
	 					<label for="editfinance" th:text="#{button.edit}"></label>
	 				</div>
	 				<div>
						<input class="chxEdit" type="checkbox" id="editfinance">
					</div>
					<button id="savebuttonFinance" class="button" name="edit" value="finance" type="submit" disabled th:text="#{button.change}"></button>
					<button class="button" name="edit" value="reset" type="submit" th:text="#{button.reset}"></button>
	 			</div>
	 		</div>
	 		

	 		</form>
	 	</div>
	 	
	 	<!-- ##################################################################### -->

	<div class="container">
	 		<div class="section-header"><h3 th:text="#{other}"></h3></div>
	 		
	 		<div class="input-row-container">
	 			<div class="inputcontainer">
		 			<form th:action="@{/accdetail}" method="post" th:object="${house}">	
		 				<input type="hidden" name="id" th:field="*{id}">
		 				<div class="section-header"><h2>Lider</h2></div>
		 				<div class="label-div">
		 					<p th:text="${house.lidername}"></p>
		 				</div>
		 				<div class="label-div">
		 					<label for="lider" th:text="#{label.bonus}">:</label>
		 				</div>
		 				<div class="label-div">
		 					<p th:text="${house.liderbonus}"></p>
		 				</div>
		 					
		 		
		 				<div class="label-div">
		 					<label for="editlider" th:text="#{button.edit}"></label>
		 					<input type="checkbox" id="editlider">
		 				</div>
		 				
		 				<div class="label-div">
			 				<label for="liderid"></label>
			 			</div>
		 				<div class="input-div"> 
		 					<select id="liderid" name="liderid" disabled required>
		 						<option th:each="i : ${houshold}" th:value="${i.id}" th:text="${i.value}"></option>
		 					</select>
		 				</div>
		 				<div class="label-div">
		 					<label for="lider" th:text="#{label.bonus}">:</label>
		 				</div>
		 				<div class="label-div">
		 					<input type="number" min="0" step="0.01" id="liderbonus" name="liderbonus" disabled>
		 				</div>
		 				<div class="section-button">
							<button id="savebuttonLider" class="button" name="edit" value="lider" type="submit" disabled th:text="#{button.change}"></button>
			 			</div>
			 		</form>
			 		<div class="section-button">
		 				<form th:action="@{/accdetail}" method="post" th:object="${house}">
		 					<input type="hidden" name="id" th:field="*{id}">
		 					<button  class="button" name="edit" value="reset" type="submit" th:text="#{button.reset}"></button>
		 				</form>
		 			</div>
			 	</div> 
						<!-- ----------------------------- -->
					<div class="inputcontainer-wide">
						<div class="section-header"><h2>Info</h2></div>
		 				<div class="label-div">
		 					<p class="stat"><span th:text="#{label.numberOfRooms}">:</span> <span th:text="${house.noofrooms}"></span></p>
		 					<p class="stat"><span th:text="#{label.numberOfBeds}">:</span> <span th:text="${house.capacity}"></span></p>
		 					<p class="stat"><span th:text="#{label.occupiedbeds}"></span> <span th:text="${house.occupied}"></span></p>
		 					<p class="stat"><span th:text="#{label.freebeds}"></span> <span th:text="${house.capacity - house.occupied}"></span></p>
		 				</div>
		 				<div class="section-header"><h2 th:text="#{remarks}"></h2></div>
		 				<form th:action="@{/accdetail}"  method="post" th:object="${house}">
		 					<input type="hidden" name="id" th:field="*{id}">
			 				<div class="input-div">
			 					<textarea id="remark" name="remark" th:text="${house.remark}"></textarea>	
			 				</div>
			 				<div class="input-div">
			 					<button id="savebuttonLider" class="button" name="edit" value="remark" type="submit" th:text="#{button.save}"></button>
			 					<button type="button" class="button" id="clearremake" th:text="#{button.clear}"></button>
			 				</div>
		 				</form>
		 			</div>
		</div>			 				
				 				
	</div>
	
	<!-- ************************************************************************* -->
		 <div class="button_container">
			<a class="stage-button"   th:href="@{'/accomoperation/addroom/' + ${house.id}} " th:text="#{label.newRoom}"></a>
		</div>
	<!-- ************************************************************************* -->
	<div class="rooms-container">
		<div class="room" th:each="r : ${rooms}">
			<div class="room-header">
				<div class="room-header-div">
					<span class="room-header-header"  th:text="${'room: ' + r.roomname + ' (' + r.occupied + '/' + r.capacity + ')'}"></span>	
				</div>
				<div class="room-buttons-div">
					<a class="icon-right-top" th:href="@{'/accomoperation/addbed/' + ${r.id}}"><i class="fas fa-plus"></i></a>
					<a  onclick="return confirm('Are you sure?')" class="icon-right-top" th:href="@{'/accomoperation/removeroom/' + ${r.id}}"><i class="fas fa-trash-alt"></i></a>
				</div>
			</div>
			
			<div class="room-content">
				<table>
					<tr>
						<th th:text="#{label.person}"></th>
						<th th:text="#{label.occupatedsince}"></th>
						<th th:text="#{label.occupatedExpire}"></th>
						<th></th>
						<th></th>
					</tr>
					<tr th:each="b : ${r.bedViewList}">
						<td th:if="${b.bedstatus.name() == 'FREE'}">FREE</td>
						<td th:unless="${b.bedstatus.name() == 'FREE'}" th:text="${b.workername}"></td>
						<td th:text="${b.occupyFrom}"></td>
						<td th:text="${b.expire}"></td>
						<td class="ico-td" th:if="${b.bedstatus.name() == 'FREE'}">
							<a th:href="@{'/accomoperation/addPerson/' + ${b.id}}"><i class="fas fa-user-plus"></i></a>
						</td>
						<td class="ico-td" onclick="return confirm('Are you sure?')" th:unless="${b.bedstatus.name() == 'FREE'}">
							<a th:href="@{'/accomoperation/removePerson/' + ${b.id}}"><i class="fas fa-user-minus"></i></a>
						</td>
						<td class="ico-td">
							<a th:href="@{'/accomoperation/removebed/' + ${b.id} }" onclick="return confirm('Are you sure?')"><i class="fas fa-minus"></i></a>
						</td>
					</tr>
				</table>
			</div>
			<div class="room-note">
				<form th:action="@{/accomoperation/saveroomnote}" method="post">
					<input type="hidden" name="roomid" th:value="${r.id}">
					<input type="hidden" name="houseid" th:value="${house.id}">
					<div>
						<label style="color: black" for="remark" th:text="#{remarks}"></label>
					</div>
					<div style="padding: 5px;">
						<textarea id="remark" name="remark" style="resize: none" th:text="${r.remark}"></textarea>
					</div>
					<div class="input-row-center">
						<button class="button" type="submit" th:text="#{button.save}"></button>
					</div>
				</form>
			</div>

		</div>

	</div>
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
<script type="text/javascript" src="/scripts/housedetils.js"></script>

</html>