<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/nhouse_style.css" />
	
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header" th:text="#{label.newHouse}"></h1>
		</div>

	
	 	<form th:action="@{/accommodation/rooms}" method="post" th:object="${house}"> 
	 	<div class="main-content">
	 		<div class="group">
		 		<div class="item-30">
			 		<label for="address" th:text="#{address}"></label>
			 		<input type="text" name="address" id="address" th:field="*{address}" required>
		 		</div>
		 		
		 		<div class="item-30">
			 		<label for="postcode" th:text="#{postcode}"></label>
			 		<input type="text" name="postcode" id="postcode" th:field="*{postcode}" required>
		 		</div>
		 			
		 		<div class="item-30">
		 			<label for="city" th:text="#{city}"></label>
	 				<input type="text" name="city" id="city" th:field="*{city}" required>
		 		</div>
	 		</div>
	 		
	 		<div class="group">
	 			<div class="item-20">
	 				<p></p>
	 				<label for="noofrooms" th:text="#{label.numberOfRooms}"></label>
	 				<input type="number" min="1" step="1" name="noofrooms" id="noofrooms" th:field="*{noofrooms}" required>
	 			</div>
	 			
	 			<div class="item-20">
	 				<p th:text="${wrong_capacity}"></p>
	 				<label for="capacity" th:text="#{label.numberOfBeds}"></label>
	 				<input type="number" min="1" step="1" name="capacity" id="capacity" th:field="*{capacity}" required>
	 			</div>
	 		</div>
	 		
	 		
	 		<div class="group">
	 			<div class="item-30">
	 				<label for="rent" th:text="#{label.rent}"></label>
	 				<input type="number" min="0" step="0.01" name="rent" id="rent" th:field="*{rent}">
	 			</div>
	 			<div class="item-30">
	 				<label for="media" th:text="#{label.media}"></label>
	 				<input type="number" min="0" step="0.01"  name="media" id="media" th:field="*{media}">
	 			</div>
	 			<div class="item-30">
	 				<label for="deposit" th:text="#{label.deposit}"></label>
	 				<input type="text" min="0" step="0.01" name="deposit" id="deposit" th:field="*{deposit}">
	 			</div>
	 		</div>
	 		
	 		<div class="group">
	 			<div class="item-20">&nbsp;	</div>
	 			<div class="item-20">
	 				<span th:text="#{label.typeOfCalculation}"></span>
	 				<div>
	 					<input type="radio" id="typecostrent" name="costType" value="RENT" checked>
				 		<label for="typecostrent" th:text="#{label.rent}"></label>				 		
			 		</div>
			 		<div>
			 			<input type="radio" id="typecostrentmedia" name="costType" value="MEDIARENT">
			 			<label for="typecostrentmedia" th:text="#{label.rentMedia}"></label>
			 		</div>
			 		<div>
			 			<input type="radio" id="typecostperperson" name="costType" value="PERPERSON">
			 			<label for="typecostrentmedia" th:text="#{label.perPerson}"></label>
			 		</div>			 		
	 			</div>
	 			<div class="item-20">
	 				<label for="perperson" th:text="#{label.costPerPerson}"></label>
	 				<input type="number" min="0" step="0.01"  name="perperson" id="perperson" th:field="*{perperson}" disabled>
	 			</div>
	 			<div class="item-20">&nbsp;	</div>
	 		</div>
	 			 	
	 		<div class="group">
	 			<div class="item-30">&nbsp;</div>
	 			<div class="item-30">
	 				<label for="periodofnotice" th:text="#{label.periodOfNotice}"></label>
	 				<input type="number" min="0" step="1" name="periodofnotice" id="periodofnotice" th:field="*{periodofnotice}">
	 			</div>
	 			<div class="item-30">&nbsp;</div>
	 		</div>	
	 		

	 		 <label for="remark" th:text="#{remarks}"></label>
	 		 <textarea id="remark" name="remark" rows="" cols=""></textarea>
	 		 <div class="button_container">
	 		 	<button class="button" type="submit" th:text="#{button.next}"></button>
	 		 </div>
	 	</div>
	 	</form>
	 
	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
<script type="text/javascript">

document.getElementById("typecostperperson").onchange = function(){
	if(document.getElementById("typecostperperson").checked == true){
		document.getElementById("perperson").disabled = false;
	}else{
		document.getElementById("perperson").disabled = true;
	}
}

</script>
</html>