<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/nhouse_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header" th:text="#{label.rooms}"></h1>
		</div>

		 <div class="main-content-room">
		 	<div class="room-div">
		 		<div>
			 		<span th:text="#{label.capacity}"></span>: <span th:text="${house.capacity}"></span>
			 	</div>
			 	<div>
					<span>Set: </span><span id="sum"></span>
				</div>
		 	</div>
		 	
			<form th:action="@{/accommodation/saverooms}" method="post">
				<input type="hidden" id="maxcapacity" th:value="${house.capacity}">
				<input type="hidden" id="houseid" name="houseid" th:value="${house.id}">
				
				<div class="room-div" th:each="room, it : ${#numbers.sequence(0, house.noofrooms-1)}">
					<div class="room-row">
						<div class="label-div">
							<label for="roomname" th:text="#{label.nameOfRoom}"></label>
						</div>
						<div class="input-div">
							<input type="text" name="roomname" id="roomname" required>
						</div>
					</div>
					
					<div class="room-row">
						<div class="label-div">
							<span>set beds: </span>
						</div>
						<div class="input-div">
							<select id="${it.index}" name="capacity" onchange="updateC()">
								<option th:each="i : ${#numbers.sequence(1, house.capacity)}" th:value="${i}" th:text="${i}"></option>
							</select>
						</div>
					</div>
					
					<div class="room-row" style="height: 100px;">
						<div class="label-div">
							<label for="remark" th:text="#{remarks}"></label>
						</div>	
						<div class="input-div">
							<textarea rows="5" cols="10" name="remark"></textarea>
						</div>
					</div>
					
						
						
						
						
						
						
				</div>
				<div style="display: flex; justify-content: center;">
					<button type="submit" id="addRoom" class="button"  disabled="disabled"th:text="#{button.add}"></button>
				</div>
			</form>
		 </div>
	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
<script>


var Mcapacity = document.getElementById("maxcapacity").value;
var arr = document.getElementsByName("capacity");
var current = 0;
for(var i = 0; i < arr.length; i++){
	current += parseInt(arr[i].value, 10);
}
document.getElementById("sum").innerHTML = current;
if(current == Mcapacity){
	document.getElementById("addRoom").disabled = false;
	
}else{
	document.getElementById("addRoom").disabled = true;	
}

function updateC (){

	var arr = document.getElementsByName("capacity");
	var current = 0;
	for(var i = 0; i < arr.length; i++){
		current += parseInt(arr[i].value, 10);
	}
	document.getElementById("sum").innerHTML = current;

	if(current == Mcapacity){
		document.getElementById("addRoom").disabled = false;
		
	}else{
		document.getElementById("addRoom").disabled = true;	
	}
}
</script>
</html>