<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admin_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/factory_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admincolors_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="admin/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header" th:text="#{header.newpassword}"></h1>
		</div>
		
		<div class="outer">
			<div class="inner">
			
				<div class="row-left">
					<span><b>Person: &nbsp;</b></span><span th:text="${userInfo.getName()}"></span>
				</div>
				<form th:action="@{/admin/ticket/changepassword}" method="post">
					<input hidden="ticketid" name="ticketid" th:value="${ticketid}">
					<input hidden="userid" name="userid" th:value="${userInfo.id}">
					<div class="row-left">
						<span><b>Login: &nbsp;</b></span><span th:text="${login}"></span>
					</div>
					<label for="password" th:text="#{label.newOneTimePassword}"></label>
					<input type="text" minlength="3" id="password" name="password" required>
					<div class="row-center">
						<button type="submit" class="button" th:text="#{button.change}"></button>
					</div>
				</form>
			</div>
		</div>

	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>