<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admin_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/employee_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admincolors_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="admin/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->

		<div class="header-container">
			<h1 class="header-header" th:text="#{button.newEmployee}"></h1>
		</div>
		
		<h2 th:text="#{label.summary}"></h2>
		<div class="outer">
			<div class="inner">
				<div class="row-left">
					<p th:text="#{msg.onetimepasswordisset}"></p>
				</div>
				<div class="row-left">
					<span><b>Name: &nbsp;</b></span><span th:text="${name}"></span>
				</div>
				<div class="row-left">
					<span><b>Login: &nbsp;</b></span><span th:text="${login}"></span>
				</div>
				<div class="row-left">
					<span><b>Password: &nbsp;</b></span><span th:text="${passowrd}"></span>
				</div>
			</div>
		</div>


	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>

</html>