<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admin_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/factory_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/admin/admincolors_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="admin/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header">Nowe Hasło</h1>
		</div>
		
		<div>
		
			<p th:text="${userInfo.getName()}"></p>
			<form th:action="@{/admin/ticket/changepassword}" method="post">
				<input hidden="ticketid" name="ticketid" th:value="${ticketid}">
				<input hidden="userid" name="userid" th:value="${userInfo.id}">
				
				<p th:text="${login}"></p>
				<label for="password">Nowe jednorazowe hasło</label>
				<input type="text" minlength="3" id="password" name="password" required>
				<button type="submit">Zmień</button>
			</form>
		</div>

	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>