<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> HRtek</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div  th:fragment="basicFilters">
			
			<form th:action="@{/showbasic/filter}" method="post" th:object="${basicFilters}">
			<div class="filter-bar">
				<div class="type-filter">
					<div class="header-filter">
						<label for="bytext">TEXT</label>
						<input th:if="${basicFilters.bytext == true}" type="checkbox" name="bytext" id="bytext" checked>
						<input th:unless="${basicFilters.bytext == true}" type="checkbox" name="bytext" id="bytext">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${basicFilters.searchingMethod.name() == 'EQUAL'}" type="radio" name="searchingMethod" id="textequal" value="EQUAL" onload="bodyOnload()"  checked>
							<input th:unless="${basicFilters.searchingMethod.name() == 'EQUAL'}" type="radio" name="searchingMethod" id="textequal" value="EQUAL" onload="bodyOnload()" >
							
							<label for="textequal">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.searchingMethod.name() == 'CONTAINS'}" type="radio" name="searchingMethod" id="textcontains" value="CONTAINS" checked>
							<input th:unless="${basicFilters.searchingMethod.name() == 'CONTAINS'}" type="radio" name="searchingMethod" id="textcontains" value="CONTAINS">
							<label for="textcontains">zawiera</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.searchingMethod.name() == 'FIRSTS'}" type="radio" name="searchingMethod" id="textfirst" value="FIRSTS" checked>
							<input th:unless="${basicFilters.searchingMethod.name() == 'FIRSTS'}" type="radio" name="searchingMethod" id="textfirst" value="FIRSTS">
							<label for="textfirst">3 pierwsze litery</label>
						</div>
						<div class="radio-div">							
							<input th:if="${basicFilters.searchingMethod.name() == 'EMPTY'}" type="radio" name="searchingMethod" id="emptytext" value="EMPTY" checked>
							<input th:unless="${basicFilters.searchingMethod.name() == 'EMPTY'}" type="radio" name="searchingMethod" id="emptytext" value="EMPTY">
							<label for="emptytext">Puste</label>
						</div>
					</div>
					<div class="fields-groups">
					
						<div class="radio-div">							
							<input th:if="${basicFilters.searchbyfield.name() == 'FIRSTNAME'}" type="radio" name="searchbyfield" id="firstname" value="FIRSTNAME" checked>
							<input th:unless="${basicFilters.searchbyfield.name() == 'FIRSTNAME'}" type="radio" name="searchbyfield" id="firstname" value="FIRSTNAME">
							<label for="firstname">Imię</label>
						</div>
						<div class="radio-div">							
							<input th:if="${basicFilters.searchbyfield.name() == 'LASTNAME'}" type="radio" name="searchbyfield" id="lastname" value="LASTNAME" checked>
							<input th:unless="${basicFilters.searchbyfield.name() == 'LASTNAME'}" type="radio" name="searchbyfield" id="lastname" value="LASTNAME">
							<label for="lastname">Nazwisko</label>
						</div>
						<div class="radio-div">							
							<input th:if="${basicFilters.searchbyfield.name() == 'NAME'}" type="radio" name="searchbyfield" id="name" value="NAME" checked>
							<input th:unless="${basicFilters.searchbyfield.name() == 'NAME'}" type="radio" name="searchbyfield" id="name" value="NAME">
							<label for="name">imię i nazwisko</label>
						</div>
						<div class="radio-div">							
							<input th:if="${basicFilters.searchbyfield.name() == 'PESEL'}" type="radio" name="searchbyfield" id="pesel" value="PESEL" checked>
							<input th:unless="${basicFilters.searchbyfield.name() == 'PESEL'}" type="radio" name="searchbyfield" id="pesel" value="PESEL">
							<label for="pesel">Pesel</label>
						</div>
						<div class="radio-div">							
							<input th:if="${basicFilters.searchbyfield.name() == 'PASZPORT'}" type="radio" name="searchbyfield" id="passport" value="PASZPORT" checked>
							<input th:unless="${basicFilters.searchbyfield.name() == 'PASZPORT'}" type="radio" name="searchbyfield" id="passport" value="PASZPORT">
							<label for="passport">Paszport</label>
						</div>
					</div>
					<div class="fields-groups">
						<div class="check-div">
							<label for="texttosearch">text</label>
						</div>
						<div class="check-div">	
							<input type="text" name="texttosearch" id="texttosearch" >
						</div>
					</div>
				</div>
				
				<!-- ********************************************************** -->
				<div class="type-filter">
					<div class="header-filter">
						<label for="bydateofbirth">DATA URODZENIA</label>
						<input th:if="${basicFilters.bydateofbirth == true}" type="checkbox" name="bydateofbirth" id="bydateofbirth" checked>
						<input th:unless="${basicFilters.bydateofbirth == true}" type="checkbox" name="bydateofbirth" id="bydateofbirth">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${basicFilters.dateofbirthMethod.name() == 'EQUAL'}" type="radio" name="dateofbirthMethod" id="birthEqual" value="EQUAL" checked>
							<input th:unless="${basicFilters.dateofbirthMethod.name() == 'EQUAL'}" type="radio" name="dateofbirthMethod" id="birthEqual" value="EQUAL" >
							<label for="birthEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.dateofbirthMethod.name() == 'RANGE'}" type="radio" name="dateofbirthMethod" id="birthRange" value="RANGE" checked>
							<input th:unless="${basicFilters.dateofbirthMethod.name() == 'RANGE'}" type="radio" name="dateofbirthMethod" id="birthRange" value="RANGE">
							<label for="birthRange">zawiera</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.dateofbirthMethod.name() == 'LESS26'}" type="radio" name="dateofbirthMethod" id="birthLess" value="LESS26" checked>
							<input th:unless="${basicFilters.dateofbirthMethod.name() == 'LESS26'}" type="radio" name="dateofbirthMethod" id="birthLess" value="LESS26">
							<label for="birthLess">ponizej 26</label>
						</div>
						<div class="radio-div">
							<label for="dateofbirth" id="labelbirthfrom">Od</label>
							<label for="dateofbirth" id="lablebirthequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="dateofbirth" id="dateofbirth" th:field="*{dateofbirth}">
						</div>
						<div class="radio-div">
							<label for="dateofbirthTo">do</label>
						</div>
						<div class="radio-div">
							
							<input type="date" name="dateofbirthTo" id="dateofbirthTo" th:field="*{dateofbirthTo}">
						</div>
					</div>
					
					<div class="header-filter">
						<label>Płeć</label>
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${basicFilters.bysex == 'all'}" type="radio" name="bysex" id="all" value="all" checked>
							<input th:unless="${basicFilters.bysex == 'all'}" type="radio" name="bysex" id="all" value="all">
							<label for="all">All</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.bysex == 'M'}" type="radio" name="bysex" id="male" value="M" checked>
							<input th:unless="${basicFilters.bysex == 'M'}" type="radio" name="bysex" id="male" value="M">
							<label for="male">male</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.bysex == 'F'}" type="radio" name="bysex" id="female" value="F" checked>
							<input th:unless="${basicFilters.bysex == 'F'}" type="radio" name="bysex" id="female" value="F">
							<label for="female">female</label>
						</div>
					</div>

				</div>
				
				<!-- ********************************************************** -->
				
				<!-- *********************** START WORK*********************************** -->
				<div class="type-filter">
					<div class="header-filter">
						<label for="byStartWork">START WORK</label>
						<input th:if="${basicFilters.byStartWork == true}" type="checkbox" name="byStartWork" id="byStartWork"  checked>
						<input th:unless="${basicFilters.byStartWork == true}" type="checkbox" name="byStartWork" id="byStartWork" >
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${basicFilters.startWorkMethod.name() == 'EQUAL'}" type="radio" name="startWorkMethod" id="startWorkEqual" value="EQUAL" checked>
							<input th:unless="${basicFilters.startWorkMethod.name() == 'EQUAL'}" type="radio" name="startWorkMethod" id="startWorkEqual" value="EQUAL" >
							<label for="startWorkEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.startWorkMethod.name() == 'RANGE'}" type="radio" name="startWorkMethod" id="startWorkRange" value="RANGE" checked>
							<input th:unless="${basicFilters.startWorkMethod.name() == 'RANGE'}" type="radio" name="startWorkMethod" id="startWorkRange" value="RANGE">
							<label for="startWorkRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="startWork" id="lablstartworkfrom">Od</label>
							<label for="startWork" id="lablestartworkequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="startWork" id="startWork" th:field="*{startWork}">
						</div>
						<div class="radio-div">
							<label for="startWorkTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="startWorkTo" id="startWorkTo" th:field="*{startWorkTo}">
						</div>
					</div>
					<div class="header-filter">
						<label>Status</label>
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${basicFilters.byStatus == 'ALL'}" type="radio" name="byStatus" id="all" value="ALL" checked>
							<input th:unless="${basicFilters.byStatus == 'ALL'}" type="radio" name="byStatus" id="all" value="ALL">
							<label for="all">All</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.byStatus == '1'}" type="radio" name="byStatus" id="active" value="1" checked>
							<input th:unless="${basicFilters.byStatus == '1'}" type="radio" name="byStatus" id="active" value="1">
							<label for="active">aktywni</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.byStatus == '0'}" type="radio" name="byStatus" id="inactive" value="0" checked>
							<input th:unless="${basicFilters.byStatus == '0'}" type="radio" name="byStatus" id="inactive" value="0">
							<label for="inactive">nieaktywni</label>
						</div>
					</div>
					
				</div>
				
				<!-- ********************************************************** -->
				<!-- *********************** START ZUS*********************************** -->
				<div class="type-filter">
					<div class="header-filter">
						<label for="byStartZus">START ZUS</label>
						<input th:if="${basicFilters.byStartZus == true}" type="checkbox" name="byStartZus" id="byStartZus" checked>
						<input th:unless="${basicFilters.byStartZus == true}" type="checkbox" name="byStartZus" id="byStartZus">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${basicFilters.startZusMethod.name() == 'EQUAL'}" type="radio" name="startZusMethod" id="startZusEqual" value="EQUAL" onload="bodyOnload()"  checked>
							<input th:unless="${basicFilters.startZusMethod.name() == 'EQUAL'}" type="radio" name="startZusMethod" id="startZusEqual" value="EQUAL" onload="bodyOnload()" >
							<label for="startZusEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.startZusMethod.name() == 'RANGE'}" type="radio" name="startZusMethod" id="startZusRange" value="RANGE" checked>
							<input th:unless="${basicFilters.startZusMethod.name() == 'RANGE'}" type="radio" name="startZusMethod" id="startZusRange" value="RANGE">
							<label for="startZusRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="startZus" id="lablstartzusfrom">Od</label>
							<label for="startZus" id="lablestartzusequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="startZus" id="startZus" th:field="*{startZus}">
						</div>
						<div class="radio-div">
							<label for="startZusTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="startWorkTo" id="startZusTo" th:field="*{startZusTo}">
						</div>
					</div>
					<div class="header-filter">
						<label>Obywatelstow</label>
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							&nbsp;
						</div>
						<div class="radio-div">
							<select id="byCitizenship" name="byCitizenship">
								<option></option>
								<option th:each="c : ${citizenships}" th:value="${c.name}" th:text="${c.name}"></option>
							</select>
						</div>
					</div>
				</div>
				
				<!-- ********************************************************** -->
				<!-- *********************** END WORK*********************************** -->
				<div class="type-filter">
					<div class="header-filter">
						<label for="byEndWork">END WORK</label>
						<input th:if="${basicFilters.byEndWork == true}" type="checkbox" name="byEndWork" id="byEndWork" checked>
						<input th:unless="${basicFilters.byEndWork == true}" type="checkbox" name="byEndWork" id="byEndWork">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${basicFilters.endWorkMethod.name() == 'EQUAL'}" type="radio" name="endWorkMethod" id="endWorkEqual" value="EQUAL" onload="bodyOnload()"  checked>
							<input th:unless="${basicFilters.endWorkMethod.name() == 'EQUAL'}" type="radio" name="endWorkMethod" id="endWorkEqual" value="EQUAL" onload="bodyOnload()" >
							<label for="endWorkEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.endWorkMethod.name() == 'RANGE'}" type="radio" name="endWorkMethod" id="endWorkRange" value="RANGE" checked>
							<input th:unless="${basicFilters.endWorkMethod.name() == 'RANGE'}" type="radio" name="endWorkMethod" id="endWorkRange" value="RANGE">
							<label for="endWorkRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="endWork" id="lableworkfrom">Od</label>
							<label for="endWork" id="lableworkequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="endWork" id="endWork" th:field="*{endWork}">
						</div>
						<div class="radio-div">
							<label for="endWorkTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="endWorkTo" id="endWorkTo" th:field="*{endWorkTo}">
						</div>
					</div>
					<div class="header-filter">
						<label>Firma</label>
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							&nbsp;
						</div>
						<div class="radio-div">
							<select id="byCompany" name="byCompany">
								<option></option>
								<option th:each="c : ${companies}" th:value="${c.shortname}" th:text="${c.shortname}"></option>
							</select>
						</div>
					</div>
				</div>
				<!-- ********************************************************** -->
				<!-- *********************** END ZUS*********************************** -->
				<div class="type-filter">
				
					<div class="header-filter">
						<label for="byEndZus">END ZUS</label>
						<input th:if="${basicFilters.byEndZus == true}" type="checkbox" name="byEndZus" id="byEndZus" checked>
						<input th:unless="${basicFilters.byEndZus == true}" type="checkbox" name="byEndZus" id="byEndZus">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${basicFilters.endZusMethod.name() == 'EQUAL'}" type="radio" name="endZusMethod" id="endZusEqual" value="EQUAL" onload="bodyOnload()"  checked>
							<input th:unless="${basicFilters.endZusMethod.name() == 'EQUAL'}" type="radio" name="endZusMethod" id="endZusEqual" value="EQUAL" onload="bodyOnload()" >
							<label for="endZusEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${basicFilters.endZusMethod.name() == 'RANGE'}" type="radio" name="endZusMethod" id="endZusRange" value="RANGE" checked>
							<input th:unless="${basicFilters.endZusMethod.name() == 'RANGE'}" type="radio" name="endZusMethod" id="endZusRange" value="RANGE">
							<label for="endZusRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="endZus" id="lablezusfrom">Od</label>
							<label for="endZus" id="lablezusequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="endZus" id="endZus" th:field="*{endZus}">
						</div>
						<div class="radio-div">
							<label for="endZusTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="endZusTo" id="endZusTo" th:field="*{endZusTo}">
						</div>
					</div>
					<div class="header-filter">
						<label>Fabryka</label>
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							&nbsp;
						</div>
						<div class="radio-div">
							<select id="byFactory" name="byFactory">
								<option></option>
								<option th:each="c : ${factories}" th:value="${c.shortname}" th:text="${c.shortname}"></option>
							</select>
						</div>
					</div>
				</div>
				</div>
				<div class="button-bar">
					<button class="button" name="filter" value="new" type="submit">Filtruj od nowa </button>
					<button class="button" name="filter" value="next" type="submit">Filtruj dalej </button>
					<button class="button" name="filter" value="reset" type="submit">Reset </button>
				</div>
			</form>
			
	</div>
</body>

</html>