<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div  th:fragment="viewbar">
			
			<div class="viewbar-container">
				
					<a class="viewbar-button" th:href="@{/showbasic}" th:text="#{label.basic}"></a>
					<a class="viewbar-button" th:href="@{/showwork}" th:text="#{header.work}"></a>
					<a class="viewbar-button" th:href="@{/showresidency}" th:text="#{header.Residency}"></a>
					<a class="viewbar-button" th:href="@{/showcontact}" th:text="#{label.contact}"></a>
					<a class="viewbar-button" th:href="@{/showdata}" th:text="#{other}"></a>
					<a class="viewbar-button" th:href="@{/showdismissed}" th:text="#{label.archives}"></a>
		
			</div>
		
			
			
	</div>
</body>

</html>