<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> HRtek</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div  th:fragment="workFilters">
			
			<form th:action="@{/showwork/filter}" method="post" th:object="${workFilters}">
			<div class="filter-bar">
				<div class="type-filter">
					<div class="header-filter">
						<label for="bytext">TEXT</label>
						<input th:if="${workFilters.bytext == true}" type="checkbox" name="bytext" id="bytext" checked>
						<input th:unless="${workFilters.bytext == true}" type="checkbox" name="bytext" id="bytext">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${workFilters.searchingMethod.name() == 'EQUAL'}" type="radio" name="searchingMethod" id="textequal" value="EQUAL"  checked>
							<input th:unless="${workFilters.searchingMethod.name() == 'EQUAL'}" type="radio" name="searchingMethod" id="textequal" value="EQUAL" >
							
							<label for="textequal">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.searchingMethod.name() == 'CONTAINS'}" type="radio" name="searchingMethod" id="textcontains" value="CONTAINS" checked>
							<input th:unless="${workFilters.searchingMethod.name() == 'CONTAINS'}" type="radio" name="searchingMethod" id="textcontains" value="CONTAINS">
							<label for="textcontains">zawiera</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.searchingMethod.name() == 'FIRSTS'}" type="radio" name="searchingMethod" id="textfirst" value="FIRSTS" checked>
							<input th:unless="${workFilters.searchingMethod.name() == 'FIRSTS'}" type="radio" name="searchingMethod" id="textfirst" value="FIRSTS">
							<label for="textfirst">3 pierwsze litery</label>
						</div>
						<div class="radio-div">							
							<input th:if="${workFilters.searchingMethod.name() == 'EMPTY'}" type="radio" name="searchingMethod" id="emptytext" value="EMPTY" checked>
							<input th:unless="${workFilters.searchingMethod.name() == 'EMPTY'}" type="radio" name="searchingMethod" id="emptytext" value="EMPTY">
							<label for="emptytext">Puste</label>
						</div>
					</div>
					<div class="fields-groups">
					
						<div class="radio-div">							
							<input th:if="${workFilters.searchbyfield.name() == 'FIRSTNAME'}" type="radio" name="searchbyfield" id="firstname" value="FIRSTNAME" checked>
							<input th:unless="${workFilters.searchbyfield.name() == 'FIRSTNAME'}" type="radio" name="searchbyfield" id="firstname" value="FIRSTNAME">
							<label for="firstname">Imię</label>
						</div>
						<div class="radio-div">							
							<input th:if="${workFilters.searchbyfield.name() == 'LASTNAME'}" type="radio" name="searchbyfield" id="lastname" value="LASTNAME" checked>
							<input th:unless="${workFilters.searchbyfield.name() == 'LASTNAME'}" type="radio" name="searchbyfield" id="lastname" value="LASTNAME">
							<label for="lastname">Nazwisko</label>
						</div>
						<div class="radio-div">							
							<input th:if="${workFilters.searchbyfield.name() == 'NAME'}" type="radio" name="searchbyfield" id="name" value="NAME" checked>
							<input th:unless="${workFilters.searchbyfield.name() == 'NAME'}" type="radio" name="searchbyfield" id="name" value="NAME">
							<label for="name">imię i nazwisko</label>
						</div>
						<div class="radio-div">							
							<input th:if="${workFilters.searchbyfield.name() == 'STATEMENT'}" type="radio" name="searchbyfield" id="statement" value="STATEMENT" checked>
							<input th:unless="${workFilters.searchbyfield.name() == 'STATEMENT'}" type="radio" name="searchbyfield" id="statement" value="STATEMENT">
							<label for="statement">statement</label>
						</div>
						<div class="radio-div">							
							<input th:if="${workFilters.searchbyfield.name() == 'PERMIT'}" type="radio" name="searchbyfield" id="permit" value="PERMIT" checked>
							<input th:unless="${workFilters.searchbyfield.name() == 'PERMIT'}" type="radio" name="searchbyfield" id="permit" value="PERMIT">
							<label for="permit">permit</label>
						</div>
						<div class="radio-div">							
							<input th:if="${workFilters.searchbyfield.name() == 'OTHER'}" type="radio" name="searchbyfield" id="other" value="OTHER" checked>
							<input th:unless="${workFilters.searchbyfield.name() == 'OTHER'}" type="radio" name="searchbyfield" id="other" value="OTHER">
							<label for="other">other</label>
						</div>
					</div>
					<div class="fields-groups">
						<div class="check-div">
							<label for="texttosearch">text</label>
						</div>
						<div class="check-div">	
							<input type="text" name="texttosearch" id="texttosearch" >
						</div>
					</div>
				</div>
	 			
			<!-- 	********************************************************** -->
				<div class="type-filter">
					<div class="header-filter">
						<label for="bydateofbirth">DATA URODZENIA</label>
						<input th:if="${workFilters.bydateofbirth == true}" type="checkbox" name="bydateofbirth" id="bydateofbirth" checked>
						<input th:unless="${workFilters.bydateofbirth == true}" type="checkbox" name="bydateofbirth" id="bydateofbirth">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${workFilters.dateofbirthMethod.name() == 'EQUAL'}" type="radio" name="dateofbirthMethod" id="birthEqual" value="EQUAL" checked>
							<input th:unless="${workFilters.dateofbirthMethod.name() == 'EQUAL'}" type="radio" name="dateofbirthMethod" id="birthEqual" value="EQUAL" >
							<label for="birthEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.dateofbirthMethod.name() == 'RANGE'}" type="radio" name="dateofbirthMethod" id="birthRange" value="RANGE" checked>
							<input th:unless="${workFilters.dateofbirthMethod.name() == 'RANGE'}" type="radio" name="dateofbirthMethod" id="birthRange" value="RANGE">
							<label for="birthRange">zawiera</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.dateofbirthMethod.name() == 'LESS26'}" type="radio" name="dateofbirthMethod" id="birthLess" value="LESS26" checked>
							<input th:unless="${workFilters.dateofbirthMethod.name() == 'LESS26'}" type="radio" name="dateofbirthMethod" id="birthLess" value="LESS26">
							<label for="birthLess">ponizej 26</label>
						</div>
						<div class="radio-div">
							<label for="dateofbirth" id="labelbirthfrom">Od</label>
							<label for="dateofbirth" id="lablebirthequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="dateofbirth" id="dateofbirth" th:field="*{dateofbirth}">
						</div>
						<div class="radio-div">
							<label for="dateofbirthTo">do</label>
						</div>
						<div class="radio-div">
							
							<input type="date" name="dateofbirthTo" id="dateofbirthTo" th:field="*{dateofbirthTo}">
						</div>
					</div>
					
					<div class="header-filter">
						<label>Status</label>
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${workFilters.byStatus == 'ALL'}" type="radio" name="byStatus" id="all" value="ALL" checked>
							<input th:unless="${workFilters.byStatus == 'ALL'}" type="radio" name="byStatus" id="all" value="ALL">
							<label for="all">All</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.byStatus == '1'}" type="radio" name="byStatus" id="active" value="1" checked>
							<input th:unless="${workFilters.byStatus == '1'}" type="radio" name="byStatus" id="active" value="1">
							<label for="active">aktywni</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.byStatus == '0'}" type="radio" name="byStatus" id="inactive" value="0" checked>
							<input th:unless="${workFilters.byStatus == '0'}" type="radio" name="byStatus" id="inactive" value="0">
							<label for="inactive">nieaktywni</label>
						</div>
					</div>

				</div>
				
<!-- 				**********************************************************
				
				*********************** START WORK*********************************** -->
				<div class="type-filter">
					<div class="header-filter">
						<label for="byStartWork">START WORK</label>
						<input th:if="${workFilters.byStartWork == true}" type="checkbox" name="byStartWork" id="byStartWork"  checked>
						<input th:unless="${workFilters.byStartWork == true}" type="checkbox" name="byStartWork" id="byStartWork" >
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${workFilters.startWorkMethod.name() == 'EQUAL'}" type="radio" name="startWorkMethod" id="startWorkEqual" value="EQUAL" checked>
							<input th:unless="${workFilters.startWorkMethod.name() == 'EQUAL'}" type="radio" name="startWorkMethod" id="startWorkEqual" value="EQUAL" >
							<label for="startWorkEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.startWorkMethod.name() == 'RANGE'}" type="radio" name="startWorkMethod" id="startWorkRange" value="RANGE" checked>
							<input th:unless="${workFilters.startWorkMethod.name() == 'RANGE'}" type="radio" name="startWorkMethod" id="startWorkRange" value="RANGE">
							<label for="startWorkRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="startWork" id="lablstartworkfrom">Od</label>
							<label for="startWork" id="lablestartworkequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="startWork" id="startWork" th:field="*{startWork}">
						</div>
						<div class="radio-div">
							<label for="startWorkTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="startWorkTo" id="startWorkTo" th:field="*{startWorkTo}">
						</div>
					</div>
					<div class="header-filter">
						<label for="byEndWork">END WORK</label>
						<input th:if="${workFilters.byEndWork == true}" type="checkbox" name="byEndWork" id="byEndWork" checked>
						<input th:unless="${workFilters.byEndWork == true}" type="checkbox" name="byEndWork" id="byEndWork">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${workFilters.endWorkMethod.name() == 'EQUAL'}" type="radio" name="endWorkMethod" id="endWorkEqual" value="EQUAL" onload="bodyOnload()"  checked>
							<input th:unless="${workFilters.endWorkMethod.name() == 'EQUAL'}" type="radio" name="endWorkMethod" id="endWorkEqual" value="EQUAL" onload="bodyOnload()" >
							<label for="endWorkEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.endWorkMethod.name() == 'RANGE'}" type="radio" name="endWorkMethod" id="endWorkRange" value="RANGE" checked>
							<input th:unless="${workFilters.endWorkMethod.name() == 'RANGE'}" type="radio" name="endWorkMethod" id="endWorkRange" value="RANGE">
							<label for="endWorkRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="endWork" id="lableworkfrom">Od</label>
							<label for="endWork" id="lableworkequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="endWork" id="endWork" th:field="*{endWork}">
						</div>
						<div class="radio-div">
							<label for="endWorkTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="endWorkTo" id="endWorkTo" th:field="*{endWorkTo}">
						</div>
					</div>
					
				</div>
				
<!-- 				**********************************************************
				*********************** START ZUS*********************************** -->
				<div class="type-filter">
					<div class="header-filter">
						<label for="byStartZus">START ZUS</label>
						<input th:if="${workFilters.byStartZus == true}" type="checkbox" name="byStartZus" id="byStartZus" checked>
						<input th:unless="${workFilters.byStartZus == true}" type="checkbox" name="byStartZus" id="byStartZus">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${workFilters.startZusMethod.name() == 'EQUAL'}" type="radio" name="startZusMethod" id="startZusEqual" value="EQUAL" onload="bodyOnload()"  checked>
							<input th:unless="${workFilters.startZusMethod.name() == 'EQUAL'}" type="radio" name="startZusMethod" id="startZusEqual" value="EQUAL" onload="bodyOnload()" >
							<label for="startZusEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.startZusMethod.name() == 'RANGE'}" type="radio" name="startZusMethod" id="startZusRange" value="RANGE" checked>
							<input th:unless="${workFilters.startZusMethod.name() == 'RANGE'}" type="radio" name="startZusMethod" id="startZusRange" value="RANGE">
							<label for="startZusRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="startZus" id="lablstartzusfrom">Od</label>
							<label for="startZus" id="lablestartzusequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="startZus" id="startZus" th:field="*{startZus}">
						</div>
						<div class="radio-div">
							<label for="startZusTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="startWorkTo" id="startZusTo" th:field="*{startZusTo}">
						</div>
					</div>
					
					<div class="header-filter">
						<label for="byEndZus">END ZUS</label>
						<input th:if="${workFilters.byEndZus == true}" type="checkbox" name="byEndZus" id="byEndZus" checked>
						<input th:unless="${workFilters.byEndZus == true}" type="checkbox" name="byEndZus" id="byEndZus">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${workFilters.endZusMethod.name() == 'EQUAL'}" type="radio" name="endZusMethod" id="endZusEqual" value="EQUAL" onload="bodyOnload()"  checked>
							<input th:unless="${workFilters.endZusMethod.name() == 'EQUAL'}" type="radio" name="endZusMethod" id="endZusEqual" value="EQUAL" onload="bodyOnload()" >
							<label for="endZusEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.endZusMethod.name() == 'RANGE'}" type="radio" name="endZusMethod" id="endZusRange" value="RANGE" checked>
							<input th:unless="${workFilters.endZusMethod.name() == 'RANGE'}" type="radio" name="endZusMethod" id="endZusRange" value="RANGE">
							<label for="endZusRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="endZus" id="lablezusfrom">Od</label>
							<label for="endZus" id="lablezusequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="endZus" id="endZus" th:field="*{endZus}">
						</div>
						<div class="radio-div">
							<label for="endZusTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="endZusTo" id="endZusTo" th:field="*{endZusTo}">
						</div>
					</div>
				</div>
				
			<!-- 	********************************************************** -->

				<div class="type-filter">
					
					<div class="header-filter">
						<label>Firma</label>
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							&nbsp;
						</div>
						<div class="radio-div">
							<select id="byCompany" name="byCompany">
								<option></option>
								<option th:each="c : ${companies}" th:value="${c.shortname}" th:text="${c.shortname}"></option>
							</select>
						</div>
					</div>
					
					<div class="header-filter">
						<label>Fabryka</label>
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							&nbsp;
						</div>
						<div class="radio-div">
							<select id="byFactory" name="byFactory">
								<option></option>
								<option th:each="c : ${factories}" th:value="${c.shortname}" th:text="${c.shortname}"></option>
							</select>
						</div>
					</div>
					
					<div class="header-filter">
						<label>Rekruter</label>
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							&nbsp;
						</div>
						<div class="radio-div">
							<select id="byRecruiter" name="byRecruiter">
								<option></option>
								<option th:each="c : ${recruiters}" th:value="${c.value}" th:text="${c.value}"></option>
							</select>
						</div>
					</div>
					
					<div class="header-filter">
						<label>Typ Oświadczena</label>
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							&nbsp;
						</div>
						<div class="radio-div">
							<select id="byStatementType" name="byStatementType">
								<option></option>
								<option value="VISA">VISA</option>
								<option value="WORK">WORK</option>
							</select>
						</div>
					</div>
				</div>
		<!-- 		**********************************************************-->
			
				<div class="type-filter">
					<div class="header-filter">
						<label for="byStatementFrom">Oświadczenie od</label>
						<input th:if="${workFilters.byStatementFrom == true}" type="checkbox" name="byStatementFrom" id="byStatementFrom" checked>
						<input th:unless="${workFilters.byStatementFrom == true}" type="checkbox" name="byStatementFrom" id="byStatementFrom">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${workFilters.statementValidFromMethod.name() == 'EQUAL'}" type="radio" name="statementValidFromMethod" id="statementFromMethodEqual" value="EQUAL" onload="bodyOnload()"  checked>
							<input th:unless="${workFilters.statementValidFromMethod.name() == 'EQUAL'}" type="radio" name="statementValidFromMethod" id="statementFromMethodEqual" value="EQUAL" onload="bodyOnload()" >
							<label for="statementFromMethodEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.statementValidFromMethod.name() == 'RANGE'}" type="radio" name="statementValidFromMethod" id="statementFromMethodRange" value="RANGE" checked>
							<input th:unless="${workFilters.statementValidFromMethod.name() == 'RANGE'}" type="radio" name="statementValidFromMethod" id="statementFromMethodRange" value="RANGE">
							<label for="statementFromMethodRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="statementValidFromFrom" id="labelstatementFromMethod">Od</label>
							<label for="statementValidFromFrom" id="labelstatementFromMethodequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="statementValidFromFrom" id=statementValidFromFrom th:field="*{statementValidFromFrom}">
						</div>
						<div class="radio-div">
							<label for="statementValidFromTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="statementValidFromTo" id="statementValidFromTo" th:field="*{statementValidFromTo}">
						</div>
					</div>
					
					<div class="header-filter">
						<label for="byStatementTo">byStatementTo</label>
						<input th:if="${workFilters.byStatementTo == true}" type="checkbox" name="byStatementTo" id="byStatementTo" checked>
						<input th:unless="${workFilters.byStatementTo == true}" type="checkbox" name="byStatementTo" id="byStatementTo">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${workFilters.statementValidToMethod.name() == 'EQUAL'}" type="radio" name="statementValidToMethod" id="statementValidToMethodEqual" value="EQUAL" onload="bodyOnload()"  checked>
							<input th:unless="${workFilters.statementValidToMethod.name() == 'EQUAL'}" type="radio" name="statementValidToMethod" id="statementValidToMethodEqual" value="EQUAL" onload="bodyOnload()" >
							<label for="statementValidToMethodEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.statementValidToMethod.name() == 'RANGE'}" type="radio" name="statementValidToMethod" id="statementValidToMethodRange" value="RANGE" checked>
							<input th:unless="${workFilters.statementValidToMethod.name() == 'RANGE'}" type="radio" name="statementValidToMethod" id="statementValidToMethodRange" value="RANGE">
							<label for="statementValidToMethodRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="statementValidToFrom" id="labelstatementValidToFrom">Od</label>
							<label for="statementValidToFrom" id="labelstatementValidToFromequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="statementValidToFrom" id="statementValidToFrom" th:field="*{statementValidToFrom}">
						</div>
						<div class="radio-div">
							<label for="statementValidToTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="statementValidToTo" id="statementValidToTo" th:field="*{statementValidToTo}">
						</div>
					</div>
					
				</div>
				<!-- 		**********************************************************-->
			
				<div class="type-filter">
					<div class="header-filter">
						<label for="byPermiFrom">Zezwolenie od</label>
						<input th:if="${workFilters.byPermiFrom == true}" type="checkbox" name="byPermiFrom" id="byPermiFrom" checked>
						<input th:unless="${workFilters.byPermiFrom == true}" type="checkbox" name="byPermiFrom" id="byPermiFrom">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${workFilters.permitValidFromoMethod.name() == 'EQUAL'}" type="radio" name="permitValidFromoMethod" id="permitValidFromoMethodEqual" value="EQUAL" onload="bodyOnload()"  checked>
							<input th:unless="${workFilters.permitValidFromoMethod.name() == 'EQUAL'}" type="radio" name="permitValidFromoMethod" id="permitValidFromoMethodEqual" value="EQUAL" onload="bodyOnload()" >
							<label for="permitValidFromoMethodEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.permitValidFromoMethod.name() == 'RANGE'}" type="radio" name="permitValidFromoMethod" id="permitValidFromoMethodRange" value="RANGE" checked>
							<input th:unless="${workFilters.permitValidFromoMethod.name() == 'RANGE'}" type="radio" name="permitValidFromoMethod" id="permitValidFromoMethodRange" value="RANGE">
							<label for="permitValidFromoMethodRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="permitValidFromFrom" id="labelpermitValidFromFrom">Od</label>
							<label for="permitValidFromFrom" id="labelpermitValidFromFromequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="permitValidFromFrom" id=permitValidFromFrom th:field="*{permitValidFromFrom}">
						</div>
						<div class="radio-div">
							<label for="permitValidFromTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="permitValidFromTo" id="permitValidFromTo" th:field="*{permitValidFromTo}">
						</div>
					</div>
					
					<div class="header-filter">
						<label for="byPermiTo">byPermiTo</label>
						<input th:if="${workFilters.byPermiTo == true}" type="checkbox" name="byPermiTo" id="byPermiTo" checked>
						<input th:unless="${workFilters.byPermiTo == true}" type="checkbox" name="byPermiTo" id="byPermiTo">
					</div>
					<div class="fields-groups">
						<div class="radio-div">
							<input th:if="${workFilters.permitValidToMethod.name() == 'EQUAL'}" type="radio" name="permitValidToMethod" id="permitValidToMethodEqual" value="EQUAL" onload="bodyOnload()"  checked>
							<input th:unless="${workFilters.permitValidToMethod.name() == 'EQUAL'}" type="radio" name="permitValidToMethod" id="permitValidToMethodEqual" value="EQUAL" onload="bodyOnload()" >
							<label for="permitValidToMethodEqual">dokładnie</label>
						</div>
						<div class="radio-div">
							<input th:if="${workFilters.permitValidToMethod.name() == 'RANGE'}" type="radio" name="permitValidToMethod" id="permitValidToMethodRange" value="RANGE" checked>
							<input th:unless="${workFilters.permitValidToMethod.name() == 'RANGE'}" type="radio" name="permitValidToMethod" id="permitValidToMethodRange" value="RANGE">
							<label for="permitValidToMethodRange">zawiera</label>
						</div>
						<div class="radio-div">
							<label for="permitValidToFrom" id="labelpermitValidToFrom">Od</label>
							<label for="permitValidToFrom" id="labelpermitValidToFromequal">Data:</label>
						</div>
						<div class="radio-div">							
							<input type="date" name="permitValidToFrom" id="permitValidToFrom" th:field="*{permitValidToFrom}">
						</div>
						<div class="radio-div">
							<label for="permitValidToTo">do</label>
						</div>
						<div class="radio-div">
							<input type="date" name="permitValidToTo" id="permitValidToTo" th:field="*{permitValidToTo}">
						</div>
					</div>
					
				</div>
				
				
				<!--#########################################################  -->
				</div> 

				<div class="button-bar">
					<button class="button" name="filter" value="new" type="submit">Filtruj od nowa </button>
					<button class="button" name="filter" value="next" type="submit">Filtruj dalej </button>
					<button class="button" name="filter" value="reset" type="submit">Reset </button>
				</div>
			</form>
			
	</div>
</body>

</html>