@charset "UTF-8";

.content{
	width: 88%;
	margin:auto;
	margin-bottom: 2%;
	padding: 1%;
	background-color: #a7bfd9;
	border-radius: 5px;
	overflow: auto;
}

.content-row{
	padding: 1%;
	display: flex;
	
}

.menu-bar{
	padding: 1%;
	flex: 2;
}

.menu-inner{
	background-color: #a7bfd9;
	display: flex;
	flex-direction: column;
}

#workerNote{
	resize: none;
	justify-content: center;
	width: 98%;
	height: 140px;
	
}

h3{
	margin-top: 0px;
	text-align:center;
	font-size: 24px;
	color: white;
}

.section-header{
	width: 100%;
	/* background-color: #204a87; */
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 15px;
	height: 30px;
}
/* ********************************* */
.data{
	font-weight: bold;
}
.data-block{
	display: flex;
	flex-direction: column;
	background-color: #ffeebf;
	flex: 5;
}

.data-block-50{
	padding: 1%;
	display: flex;
	flex-direction: column;
	background-color: #ffeebf;
	flex: 1;
}

.data-double-block{
	display: flex;
	flex-direction: column;
	flex: 5;
}

.data-label{
	
	flex: 4;
}

.data-content{
	flex: 8;
}

.data-row{
	display: flex;
}


.border-div{
	border: 1px solid gray;
	border-radius: 5px;
	padding: 3px;
	margin: 1%;
	
}

.data-col{
	display: flex;
	flex: 1;
	padding: 1%;
}


.button-bar{
	padding: 1%;
	
}

.button{
	background-color: #204a87;
	text-decoration: none;
	margin-right: 5px;
	min-width: 100px;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
}

.button:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  text-decoration: none;
  color: #666666;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;

}

.dot-green {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;

}

.war{
	color: #fa600;
}

#list{
	resize: none;
	justify-content: center;
	width: 98%;
	height: 100px;
	
}

.file-table{
	border-radius: 20px;
	background-color: white;
	border: none;
}

.file-table tr{
	background-color: white;
	border: none;
}

.file-table td{
	background-color: white;
	border: none;
}

.td-action{
	width: 20px;
}