@charset "UTF-8";


.content{
	width: 88%;
	margin:auto;
	margin-bottom: 2%;
	padding: 1%;
	background-color: #a7bfd9;
	border-radius: 5px;
	overflow: auto;
}

.mini-content{
	width: 50%;
	margin:auto;
	margin-bottom: 2%;
	padding: 1%;
	background-color: #a7bfd9;
	border-radius: 5px;
	overflow: auto;
}



.button{
	background-color: #204a87;
	margin-right: 5px;
	min-width: 100px;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
}

.button:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.section-header{
	width: 100%;
	/* background-color: #204a87; */
	background-color: #204a87;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 15px;
}

.row{
	margin-bottom: 20px;
	overflow: auto;
	clear: both;	
}

.row-buttons{
	margin: auto;
	margin-bottom: 10px;
	margin-top: 40px;
	display: flex; 
	justify-content: center;
	overflow: auto;
	clear: both;	
}

.col{
	width: 25%;
	float: left;
}

.col-a{
	width: 33%;
	float: left;
	overflow: auto;
}

.col-b{
	width: 50%;
	float: left;
	overflow: auto;
}


label{
	color: black;;
	font-weight: bold;
}

h3{
	margin-top: 0px;
	text-align:center;
	font-size: 24px;
	color: white;
}

h2{
	margin-top: 0px;
	text-align:center;
	font-size: 0.8em;
	color: white;
}
select{
	padding: 5px;
	border-radius: 3px;
}
select:hover{
	padding: 5px;
	border: 1px solid #204a87;
	border-radius: 3px;
}


textarea{
	width: 50%;
	min-height: 40px;
}

.note-80{
	width: 80%;
	min-height: 60px;
}

/* .note-div{
	width: 78%;
	margin: auto;
	padding: 2%;
} */

/*  ----- Stage -------- */
.stage-container{
	width: 50%;
	height: auto;
	margin: auto;
	overflow: auto;
	display: flex;
	justify-content: space-between;
}


a:link.stage-button{
	width: 49%;
	text-align: center;
	margin-right: 2px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	
	padding: 15px;
	text-decoration: none;
	border-radius: 2px;
	overflow: auto;
	background-color: #204a87;
	border: 3px solid #204a87;
	float: left;
	

}
a:visited.stage-button{
	width: 49%;
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	margin-right: 2px;

	border-radius: 2px;
	padding: 15px;
	overflow: auto;
	background-color: #204a87;
	float: left;
	border: 3px solid #204a87;
}

a:hover.stage-button{
	width: 49%;
	text-align: center;
	color: white;
	font-size: 18px;
	display: inline-block;
	margin-right: 2px;
	font-weight: bold;
	text-decoration: none;
	padding: 15px;
	border-radius: 2px;
	overflow: auto;
	background-color: #3465a4;
	float: left;
	border: 3px solid black;
}

