@charset "UTF-8";



.header-container{
	background-color: #5b7cb0;
}

.form-container{
	background-color: #5b7cb0;
	margin: auto;
	margin-bottom: 20px;
	width: 50%;
	color: white;
	font-weight: bold;
}


.row{
	padding: 1%;
	clear: both;
	width: 98%;
	overflow: auto; 
}


.collinput{
	width: 50%;
	float: left;
}

.label-div{
	padding-left: 10%;
	width: 20%;
	height: 100%;
	float: left;
}

.input-div{
	width: 70%;
	float: left;	
}
.input-div input{
	width: 100%;
	height: 100%;
}

.center-coll{
	width: 200px;
	margin: auto;
	padding: 15px;
}

.note-div{
	width: 78%;
	margin: auto;
	padding: 2%;
}

#savebutton{
	width: 38%;
	height: 50px;
}

#saveandnext{
	width: 58%;
	height: 50px;
	float: right;;
	clear: both;
}

#note{
	width: 100%;
	height: 50px;
}

@media screen and (max-width: 1400px){
  .form-container{
  width: 95%;
  }
  
    .table-div{
  		overflow-x:scroll;
  }
}

@media screen and (max-width: 990px){
	.form-container{
	 	width: 98%;
	}
	.label-div{
		width: 100%;
	}
	
	.center-coll{
		padding-left: 0px;
		width: 100%;
	}

} 



@media only screen and (max-width: 510px){
 	.form-container{
 		width: 100%;
  	}

  	
  	table {
		width:100%;
		font-size: 0.7em;
		/* table-layout: fixed; */
	}
	
	.collinput{
		width: 100%;
		clear: both;
	}
	

	.input-div{
		width: 100%;
		margin-top: 2px;
		margin-bottom: 10px;
		height: 35px;
	}
	.input-div input{
		height: 100%
	}
	
 	.label-div{
 		font-size: 2em;
 		padding-left: 0px;
		width: 100%;
	}
	
	.center-coll{
		padding-left: 0px;
		width: 100%;
	}
	 
	#note{
		width: 98%;
	}
	
	#savebutton{
		width: 38%;
		height: 50px;
	}
	
	#saveandnext{
		width: 58%;
		height: 50px;
		float: right;;
		clear: both;
	}
}
