@charset "UTF-8";


.content{
	width: 88%;
	margin:auto;
	margin-bottom: 2%;
	padding: 1%;
	background-color: #a7bfd9;
	border-radius: 5px;
	overflow: auto;
}

.mini-content{
	width: 50%;
	margin:auto;
	margin-bottom: 2%;
	padding: 1%;
	background-color: #a7bfd9;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}


.section-header{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #204a87;
	color: white;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 15px;
}



.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1%;
	flex-wrap: wrap;
}

.row-buttons{
	margin-bottom: 10px;
	margin-top: 30px;
	display: flex; 
	justify-content: center;
}

.col{
	display: flex;
	flex-direction: column;
	width: 20%;
}

.col-a{
	display: flex;
	flex-direction: column;
	width: 30%;
}

.col-b{
	width: 50%;
	float: left;
	overflow: auto;
}


label{
	color: black;;
	font-weight: bold;
}


textarea{
	width: 95%;
	min-height: 50px;
}

.note-80{
	width: 80%;
	min-height: 60px;
}

.note{
	resize: none;
	width: 80%;
	min-height: 60px;
}


/*  ----- Stage -------- */
.stage-container{
	width: 50%;
	height: auto;
	margin: auto;
	margin-top: 10px;
	overflow: auto;
	display: flex;
	justify-content: space-between;
}


.filter-container{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

