@charset "UTF-8";

input{
	width: 90%;
}
#container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-panel{
	display: flex;
	justify-content: space-around;
	background-color: #99aabc;
	padding: 5px;
	width: 90%;;
}

.common-bpanel{
	display: flex;
	flex-direction: column;
	padding: 5px;
	width: 35%;
	border: 1px solid black; 
	border-radius: 10px
}

form{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

select{
	width: 100%;
	font-size: 1.1em;
	border-radius: 3px;
}

.mont-bpanel{
	display: flex;
	flex-direction: column;
	width: 30%;
	border: 1px solid black; 
	border-radius: 10px
	
}

.zus-bpanel{
	display: flex;
	flex-direction: column;
	width: 25%;	
	border: 1px solid black; 
	border-radius: 10px
}

.row{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}



button{
	background-color: #204a87;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	width: 100%;
}

button:hover{
	background-color: #729fcf;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	width: 100%;
}

.col{
	display: flex;
	flex-direction: column;
	width: 24%;
	
}

.col-b{
	display: flex;
	flex-direction: column;
	width: 50%;
}


.cell{
	height: 80%;
	margin: 5px;
}

.cell button{
	width: 96%;
	height: 40px;
}

.xxx input{
	margin: 0px;
	padding: 0px;
}
 
.tiles{
	width: 100%;
	height: 50px;
}

.tiles button{
	width: 100%;
	height: 50px;
}

.bdownload{
	width: 100%;
	height: 40px;
	background-color: #682727;
}

.bdownload:disabled{
	width: 100%;
	height: 40px;
	background-color: #babdb6;
}

.div-switch{
	margin-top: 20px;
	width: 100%;
}

