@charset "UTF-8";

/* 
d5eeee 
*/
#container{
	background-color:  #d0e5e5;
}

th{
	background-color: #5b7cb0;
}

a:link.tdbutton{
	background-color: #5b7cb0;
}

a:visited.tdbutton{
	background-color: #5b7cb0;
}

a:hover.tdbutton{
	background-color: #5b7cb0;
}

a:link.button_new{
	
	background-color: #5b7cb0;
}

a:visited.button_new{
	background-color: #5b7cb0;
}

a:hover.button_new{
	background-color: #5b7cb0;
}