@charset "UTF-8";



.header-container{
	background-color: #204a87;
}

.form-container{
	background-color: #204a87;
	margin: auto;
	margin-bottom: 20px;
	width: 90%;
	color: white;
	font-weight: bold;
}


#container-f{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:  #d0e5e5;
	min-height: 700px;
}


.form-content{
	width: 300px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.inp{
	width: 95%;
}

.inner{
	background-color: #729fcf;
	font-weight: bold;
	
}
.