@charset "UTF-8";



.header-container{
	background-color: #204a87;
}

.form-container{
	background-color: #204a87;
	margin: auto;
	margin-bottom: 20px;
	width: 90%;
	color: white;
	font-weight: bold;
}
