<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>
	<div class="timesheet-menu" th:fragment="timesheetmenu">
		<div th:each="f : ${factories}">
			<a class="company-button" th:href="@{'/timesheet/' + ${f.id}}" th:text="${f.value}"></a>
		</div>
		
	<!-- ************************************************************************* -->
	</div>
</body>

<script src="/scripts/BasicViewScript.js"></script>
<script src="/scripts/ViewCommon.js"></script>
</html>