<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/profil_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
</head>
<body onload="enableReadOnly()">
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header" th:text="#{header.EDIT}"></h1>
		</div>
		
		<p th:text="${error_msg}" class="error_message"></p>
		<p th:text="${success_msg}" class="succes_message"></p>
		
		<div class="form-container0">
			<form th:action="@{/profiledit}" method="post" th:object="${worker}">
				<input type="hidden" name="id" th:field="*{id}">
				<input type="hidden" name="type" value="WORKER">
				<div class="edit-row">
					<span style="color: white; font-size: 1.3em; font-weight: bold;" th:text="${name}"></span>
				</div>
				<div class="edit-row">
					<div class="time-info">
						<span th:text="#{label.unlockAt}">:</span>
						<span id="h" th:text="${h}"></span>
						<span>:</span>
						<span id="min" th:text="${min}"></span>
					</div>
				</div>
				<div class="edit-row">
					<div class="edit-col-lab">
						<label for="firstname" th:text="#{firstname}"></label>
					</div>
					<div class="edit-col-inp">
						<input type="text" name="firstname" id="firstname" th:field="*{firstname}" required><br>
					</div>
					
				</div>
				<div class="edit-row">
					<div class="edit-col-lab">
						<label for="lastname" th:text="#{lastname}"></label>
					</div>
					<div class="edit-col-inp">
						<input type="text" name="lastname" id="lastname" th:field="*{lastname}" required><br>
					</div>
				</div>
				<div class="edit-row">
					<div class="edit-col-lab">
						<label for="company" th:text="#{company}"></label>
					</div>
					<div class="edit-col-inp">
						<select name="companyid" id="company">
							<option th:each="c : ${companies}" th:value="${c.id}" th:text="${c.shortname}"></option>
						</select>
					</div>
				</div>
				
				<div class="edit-row">
					<div class="edit-col-lab">
						<label for="factoryid" th:text="#{factory}"></label>
					</div>
					<div class="edit-col-inp">
						<select name="factoryid" id="factoryid">
							<option th:each="f : ${factories}" th:value="${f.id}" th:text="${f.shortname}"></option>
						</select>
					</div>
				</div>
				<div class="edit-row">
					<div class="edit-col-lab">
						<label for="recruiter" th:text="#{recruiter}"></label>
					</div>
					<div class="edit-col-inp">
						<select name="recruiter" id="recruiter">
							<option th:each="r : ${recruiters}" th:value="${r.id}" th:text="${r.value}"></option>
						</select>
					</div>
				</div>
				<div class="edit-row">
					<button class="button" name="action" value="save"  type="submit" th:text="#{button.save}" onclick="return confirm('Are you sure you want to modify these values?')"></button>
					<button class="button" name="action" value="cancel" type="submit" th:text="#{button.cancel}" formnovalidate></button>
				</div>	
			</form>
		</div>
	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>