<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/profil_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header" th:text="#{header.PROFIL} + ' - ' + ${wv.firstname} + ' ' + ${wv.lastname}"></h1>
		</div>
		<div th:if="${error_msg} or ${success_msg}">
 		<p th:text="${error_msg}" class="error_message" style="background-color: fuchsia;"></p>
		<p th:text="${success_msg}" class="succes_message" style="background-color: fuchsia;"></p>
		</div>
		 
		<section class="content-row">
			<div class="data-double-block">
				<div class="data-block">
					<div class="section-header">
						<h3 th:text="#{label.basic}"></h3>
					</div>
					<div class="border-div">
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span>Status: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wv.status}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
							
								</div>
								<div class="data-content">
									
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{firstname}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wv.firstname}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{lastname}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wv.lastname}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{company}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wv.company}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{factory}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wv.factory}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{recruiter}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wv.recruiter}"></span>
								</div>
							</div>
							<div class="data-col">
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div>
						<div class="button-bar">
							<a th:if="${av.worker == null}" th:href="@{'/profiledit/WORKER/' + ${wv.id}}" class="button" th:text="#{button.change}"></a>
							<a th:unless="${av.worker == null}" th:href="@{'/profil/' + ${wv.id}}" class="button" th:text="#{button.refresh}"></a>
					
							<span th:if="${av.worker != null}" class="dot"></span> 
							<p>
								<span th:if="${av.worker != null}" class="war" th:text="#{label.blockBy}">: </span>
								<span th:if="${av.worker != null}" class="war" th:text="${av.worker.username}">. </span>
								<span th:if="${av.worker != null}" class="war" th:text="#{label.blockUntil}">: </span>
								<span th:if="${av.worker != null}" class="war" th:text="${av.worker.expired}"> </span>
							</p>
						</div>
						</div>
					</div>
				</div>
				
				<!-- ################ BLOCKA #################  -->
				<div class="data-block">
					<div class="border-div">
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{dateofbirth}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wb.dateofbirth}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{sex}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wb.sex}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{accountNo}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wb.accountnr}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{pesel}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wb.pesel}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{workerNo}">:</span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wb.workerNo}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{department}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wb.department}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{citizenship}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wb.citizenship}"></span>
								</div>
							</div>
							<div class="data-col">
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="button-bar">
							<a th:if="${av.basic == null}" th:href="@{'/profiledit/BASIC/' + ${wv.id}}" class="button" th:text="#{button.change}"></a>
							<a th:unless="${av.basic == null}" th:href="@{'/profil/' + ${wv.id}}" class="button" th:text="#{button.refresh}"></a>
					
							<span th:if="${av.basic != null}" class="dot"></span> 
							<p>
								<span th:if="${av.basic != null}" class="war" th:text="#{label.blockBy}">: </span>
								<span th:if="${av.basic != null}" class="war" th:text="${av.basic.username}"> </span>
								<span th:if="${av.basic != null}" class="war" th:text="#{label.blockUntil}">: </span>
								<span th:if="${av.basic != null}" class="war" th:text="${av.basic.expired}"> </span>
							</p>
						</div>
					</div>
				</div>
				
				<!-- ################ BLOCKA #################  -->
				<div class="data-block">
					<div class="section-header">
						<h3 th:text="#{label.finance}"></h3>
					</div>
					<div class="border-div">
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{label.incomePerHour}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wf.hourlyrate}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{label.bonus}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wf.bonus}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{label.wagePerHour}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wf.wage}"></span>
								</div>
							</div>
							<div class="data-col"></div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="button-bar">
							<a th:if="${av.finance == null}" th:href="@{'/profiledit/FINANCE/' + ${wv.id}}" class="button" th:text="#{button.change}"></a>
							<a th:unless="${av.finance == null}" th:href="@{'/profil/' + ${wv.id}}" class="button" th:text="#{button.refresh}"></a>
					
							<span th:if="${av.finance != null}" class="dot"></span> 
							<p>
								<span th:if="${av.finance != null}" class="war" th:text="#{label.blockBy}">: </span>
								<span th:if="${av.finance != null}" class="war" th:text="${av.finance.username}"> </span>
								<span th:if="${av.finance != null}" class="war" th:text="#{label.blockUntil}">: </span>
								<span th:if="${av.finance != null}"class="war" th:text="${av.finance.expired}"> </span>
							</p>
						</div>
					</div>
				</div>
				
				<div class="data-block">
				<section class="content-row">
			<div class="data-block-50">
				<div class="section-header">
					<h3 th:text="#{statement}"></h3>
				</div>
					<div class="border-div">
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{statementType}"></span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${ps.statementType}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{statement}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${ps.statement}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{valid.form}">:</span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${ps.statementValidFrom}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{valid.to}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${ps.statementValidTo}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="button-bar">
							<a th:if="${av.statement == null}" th:href="@{'/profiledit/STATEMENT/' + ${wv.id}}" class="button"  th:text="#{button.change}"></a>
							<a th:unless="${av.statement == null}" th:href="@{'/profil/' + ${wv.id}}" class="button" th:text="#{button.refresh}"></a>
					
							<span th:if="${av.statement != null}" class="dot"></span> 
							<p>
								<span th:if="${av.statement != null}" class="war" th:text="#{label.blockBy}">: </span>
								<span th:if="${av.statement != null}" class="war" th:text="${av.statement.username}"> </span>
								<span th:if="${av.statement != null}" class="war" th:text="#{label.blockUntil}">: </span>
								<span th:if="${av.statement != null}"class="war" th:text="${av.statement.expired}"> </span>
							</p>
						</div>
					</div>
			</div>
			<!-- ################ BLOCKA #################  -->
			<div class="data-block-50">
				<div class="section-header">
					<h3 th:text="#{permit}"></h3>
				</div>
					<div class="border-div">
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{permit}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${ps.permit}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{other}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${ps.other}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{valid.form}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${ps.permitValidFrom}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{valid.to}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${ps.permitValidTo}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="button-bar">
							<a th:if="${av.permit == null}" th:href="@{'/profiledit/PERMIT/' + ${wv.id}}" class="button" th:text="#{button.change}"></a>
							<a th:unless="${av.permit == null}" th:href="@{'/profil/' + ${wv.id}}" class="button" th:text="#{button.refresh}"></a>
					
							<span th:if="${av.permit != null}" class="dot"></span> 
							<p>
								<span th:if="${av.permit != null}" class="war" th:text="#{label.blockBy}">: </span>
								<span th:if="${av.permit != null}" class="war" th:text="${av.permit.username}"> </span>
								<span th:if="${av.permit != null}" class="war" th:text="#{label.blockUntil}">: </span>
								<span th:if="${av.permit != null}"class="war" th:text="${av.permit.expired}"> </span>
							</p>
						</div>
					</div>
			</div>
			<!-- ################ BLOCKA #################  -->
		</section>
				</div>
				<!-- ################ BLOCKA #################  -->
			</div>
			<div class="menu-bar">
				<div class="menu-inner">
					<div class="section-header">
						<h3 th:text="#{label.note}"></h3>
					</div>
					<form th:action="@{/profil/updatenote}" method="post">
						<input type="hidden" name="id" th:value="${wv.id}">
						<div class="center-div">
							<textarea id="workerNote" name="workerNote" th:text="${workerNote.text}"></textarea>
						</div>
						<div class="center-div">
							<button type="submit" class="button" th:text="#{button.save}"></button>
						</div>
					</form>
					<div class="section-header">
						<h3 th:text="#{label.documents}"></h3>
					</div>
					<form action="">

					<div class="center-div">
						<select>
							<option></option>
						</select>
					</div>
					<div class="center-div">
					<button type="submit" class="button" th:text="#{label.generate}"></button>
					</div>
					</form>
					<div class="section-header">
						<h3 th:text="#{other}"></h3>
					</div>
					<div class="center-div">
					<form th:action="@{/dismiss}" method="post">
						<input type="hidden" name="id" id="id" th:value="${wv.id}">
						<button type="submit" class="button" th:text="#{label.dismiss}"></button>
					</form>
					</div>
					<!-- ************************** -->
			<div class="data-block-50">
				<div class="section-header">
					<h3 th:text="#{niefiles}"></h3>
				</div>
				<div class="border-div">
				<div id="fileadd">
					<form th:action="@{/profil}" enctype="multipart/form-data" method="post">
			            <input class="button" id="fileInput" type="file" name="uploadFiles" onchange="update();" multiple><br>
						<textarea id="list" disabled="disabled" ></textarea><br>
						<input type="hidden" name="id" th:value="${wv.id}">	
						<button class="button" type="submit" th:text="#{button.add}"></button>
					</form>
				</div>
				</div>
			</div>
			<div class="data-block-50">
				<div class="section-header">
					<h3 th:text="#{files}"></h3>
				</div>
				<div class="border-div">
					<table class="file-table">
						<tr th:each="f : ${files}">
							<td th:text="${f.filename}"></td>
							<td class="td-action">
								<a class="button" th:href="@{'/profil/download/' + ${f.id} }">DOWNLOAD</a>
							</td>
							<td class="td-action">
								<a class="button" th:href="@{'/profil/delete/' + ${wv.id} + '/' + ${f.id} }" onclick="return confirm('Are you sure you want to delete this file?')">DELETE</a>
								
							</td>
						</tr>
					</table>
				</div>
				
			</div>
			
			
				</div>
			</div>
			
			
			<!-- ################ DOUBLE BLOCKA #################  -->
		</section>
		
		<!-- ################ BLOCKA #################  -->
		<section class="content-row">
			<div class="data-block-50">
				<div class="section-header">
					<h3 th:text="#{label.date}"></h3>
				</div>
					<div class="border-div">
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{start.zus}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wd.startZus}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{end.zus}"></span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wd.endZus}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{start.work}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wd.startWork}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{end.work}">: </span>
								</div>
								<div class="data-content">
									<span class="data" >???</span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{start.medical.exam}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wd.startMedicalExams}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{end.medical.exam}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wd.endMedicalExams}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{inSystemFrom}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${wd.addToSystem}"></span>
								</div>
							</div>
							<div class="data-col">
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="button-bar">
							<a th:if="${av.date == null}" th:href="@{'/profiledit/DATE/' + ${wv.id}}" class="button" th:text="#{button.change}"></a>
							<a th:unless="${av.date == null}" th:href="@{'/profil/' + ${wv.id}}" class="button" th:text="#{button.refresh}"></a>
					
							<span th:if="${av.date != null}" class="dot"></span> 
							<p>
								<span th:if="${av.date != null}" class="war" th:text="#{label.blockBy}">: </span>
								<span th:if="${av.date != null}" class="war" th:text="${av.date.username}"> </span>
								<span th:if="${av.date != null}" class="war" th:text="#{label.blockUntil}">: </span>
								<span th:if="${av.date != null}"class="war" th:text="${av.date.expired}"> </span>
							</p>
						</div>
					</div>
			</div>
			<!-- ################ BLOCKA #################  -->
			<div class="data-block-50">
				<div class="section-header">
					<h3 th:text="#{header.Residency}"></h3>
				</div>
					<div class="border-div">
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{biospassport}">:  </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${re.biopassport}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{passport}"></span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${re.passport}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{visa}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${re.visa}"></span>
								</div>
							</div>
							<div class="data-col">
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{valid.form}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${re.visaValidFrom}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{valid.to}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${re.visaValidTo}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="button-bar">
							<a th:if="${av.residency == null}" th:href="@{'/profiledit/RESIDENCY/' + ${wv.id}}" class="button"  th:text="#{button.change}"></a>
							<a th:unless="${av.residency == null}" th:href="@{'/profil/' + ${wv.id}}" class="button" th:text="#{button.refresh}"></a>
					
							<span th:if="${av.residency != null}" class="dot"></span> 
							<p>
								<span th:if="${av.residency != null}" class="war" th:text="#{label.blockBy}">: </span>
								<span th:if="${av.residency != null}" class="war" th:text="${av.residency.username}"> </span>
								<span th:if="${av.residency != null}" class="war" th:text="#{label.blockUntil}">: </span>
								<span th:if="${av.residency != null}"class="war" th:text="${av.residency.expired}"> </span>
							</p>
						</div>
					</div>
			</div>
			<!-- ################ BLOCK #################  -->
		</section>
		
		<section class="content-row">
			<div class="data-block-50">
				<div class="section-header">
					<h3 th:text="#{label.contact}"></h3>
				</div>
					<div class="border-div">
						<div class="data-row">
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{phone}"></span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${cv.phone}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{email}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${cv.email}"></span>
								</div>
							</div>
						</div>
						<!-- ####### ROW ######  -->
						<div class="button-bar">
							<a th:if="${av.contact == null}" th:href="@{'/profiledit/CONTACT/' + ${wv.id}}" class="button" th:text="#{button.change}"></a>
							<a th:unless="${av.contact == null}" th:href="@{'/profil/' + ${wv.id}}" class="button" th:text="#{button.refresh}"></a>
					
							<span th:if="${av.contact!= null}" class="dot"></span> 
							<p>
								<span th:if="${av.contact != null}" class="war" th:text="#{label.blockBy}">: </span>
								<span th:if="${av.contact != null}" class="war" th:text="${av.contact.username}"> </span>
								<span th:if="${av.contact != null}" class="war" th:text="#{label.blockUntil}">: </span>
								<span th:if="${av.contact != null}"class="war" th:text="${av.contact.expired}"> </span>
							</p>
						</div>
					</div>
				</div>
				<!-- ################ BLOCK #################  -->
				<div class="data-block-50">
				<div class="section-header">
					<h3 th:text="#{address}"> PL</h3>
				</div>
					<div class="border-div">
							
							<div th:if="${cv.houseid != null}">
								<div  class="data-col">
									<div class="data-label">
									<span th:text="#{label.type}">: </span>
									</div>
									<div class="data-content">
										<span class="data" th:text="#{lable.our}"></span>
									</div>
								</div>
							</div>
							<div th:unless="${cv.houseid != null}">
								<div  class="data-col">
									<div class="data-label">
									<span th:text="#{label.type}">: </span>
									</div>
									<div class="data-content">
										<span class="data" th:text="#{label.own}"></span>
									</div>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{address}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${cv.pladdress}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{postcode}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${cv.plpostcode}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{city}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${cv.plcity}"></span>
								</div>
							</div>
							<div class="data-col">
							</div>
							
							<div th:if="${cv.houseid != null}">
								<div  class="data-col">
									<div class="data-label">
									<span th:text="#{house}">: </span>
									</div>
									<div class="data-content">
										<span class="data" th:text="${cv.house}"></span>
									</div>
								</div>
								<div  class="data-col">
									<div class="data-label">
										<span th:text="#{room}">: </span>
									</div>
									<div class="data-content">
										<span class="data" th:text="${cv.room}"></span>
									</div>
								</div>
								<div  class="data-col">
									<div class="data-label">
										<span th:text="#{to}">: </span>
									</div>
									<div class="data-content">
										<span class="data" th:text="${cv.expire}"></span>
									</div>
								</div>
							
							</div>

						<!-- ####### ROW ######  -->
						<div class="button-bar">
							<a th:if="${av.addresspl == null}" th:href="@{'/profiledit/ADDRESSPL/' + ${wv.id}}" class="button" th:text="#{button.change}"></a>
							<a th:unless="${av.addresspl == null}" th:href="@{'/profil/' + ${wv.id}}" class="button" th:text="#{button.refresh}"></a>
					
							<span th:if="${av.addresspl != null}" class="dot"></span> 
							<p>
								<span th:if="${av.addresspl != null}" class="war" th:text="#{label.blockBy}">: </span>
								<span th:if="${av.addresspl != null}" class="war" th:text="${av.addresspl.username}"> </span>
								<span th:if="${av.addresspl != null}" class="war" th:text="#{label.blockUntil}">: </span>
								<span th:if="${av.addresspl != null}"class="war" th:text="${av.addresspl.expired}"> </span>
							</p>
						</div>
					</div>
				</div>
				<!-- ################ BLOCK #################  -->
				<div class="data-block-50">
				<div class="section-header">
					<h3 th:text="#{address}"></h3>
				</div>
					<div class="border-div">
						<div class="data-col">
								<div class="data-label">
									<span th:text="#{address}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${cv.address}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{postcode}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${cv.postcode}"></span>
								</div>
							</div>
							<div class="data-col">
								<div class="data-label">
									<span th:text="#{city}">: </span>
								</div>
								<div class="data-content">
									<span class="data" th:text="${cv.city}"></span>
								</div>
							</div>
						<!-- ####### ROW ######  -->
						<div class="button-bar">
							<a th:if="${av.address == null}" th:href="@{'/profiledit/ADDRESS/' + ${wv.id}}" class="button" th:text="#{button.change}"></a>
							<a th:unless="${av.address == null}" th:href="@{'/profil/' + ${wv.id}}" class="button" th:text="#{button.refresh}"></a>
					
							<span th:if="${av.address!= null}" class="dot"></span> 
							<p>
								<span th:if="${av.address != null}" class="war" th:text="#{label.blockBy}">: </span>
								<span th:if="${av.address != null}" class="war" th:text="${av.address.username}"> </span>
								<span th:if="${av.address != null}" class="war" th:text="#{label.blockUntil}">: </span>
								<span th:if="${av.address != null}"class="war" th:text="${av.address.expired}"> </span>
							</p>
						</div>
					</div>
				</div>
				<!-- ################ BLOCK #################  -->
		</section>
		
			
	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
<script>
function update() {
    document.getElementById("list").value = "";
	var files = document.getElementById("fileInput").files;
	for (var i = 0; i < files.length ; i++){
		document.getElementById("list").value += files[i].name + "\n";
	}
}
</script>
</html>