<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/home_style.css" />
	
	<script src="https://kit.fontawesome.com/7ccfa6815b.js" crossorigin="anonymous"></script>
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<div class="header-container">
			<h1 class="header-header" th:text="#{menu.home}"></h1>
		</div>
	<!-- ************************************************************************* -->
	
	<div class="content">
		<div class="left-content">
			<div class="section-header">
				<h3 th:text="#{msg.bosstasks}"></h3>
			</div>
			<div class="boss-tasks">
			<table>
				<tr>
					<th style="width: 30px"></th>
					<th th:text="#{label.task}"></th>
					<th th:text="#{label.description}"></th>
					<th style="width: 100px" th:text="#{label.priority}"></th>
					<th style="width: 110px" th:text="#{label.deadline}"></th>
					<th style="width: 70px" th:text="#{label.status}"></th>
					<th style="width: 70px"></th>
					<th style="width: 70px"></th>
				</tr>
				<tr th:class="${'tr-' + t.status.name()}" th:each="t, it : ${tasks}">
	
					<td style="width: 30px" th:text="${it.count}"></td>
					<td th:text="${t.taskname}"></td>
					<td th:text="${t.description}"></td>
					<td style="width: 100px" th:text="${t.priority}"></td>
					<td style="width: 110px" th:text="${t.deadlinedate}"></td>
					<td style="width: 70px" th:text="${t.status}"></td>
					<td style="width: 70px">
						<div class="i-ico-green">
							<a th:if="${t.status.name() == 'ONGOING' or t.status.name() == 'DELAY'}" th:href="@{'/task/DONE/' +  ${t.id}}"><i class="fas fa-check-square fa-2x"></i></a>
						</div>
					</td>
					<td style="width: 70px">
						<div class="i-ico-red">
							<a th:if="${t.status.name() == 'ONGOING' or t.status.name() == 'DELAY'}"  th:href="@{'/task/FAIL/' +  ${t.id}}"><i class="fas fa-times-circle fa-2x"></i></a>
						</div>
					</td>
				</tr>
			</table>
			</div>
			
			
			<div class="section-header">
				<h3 th:text="#{msg.mytodolist}"></h3>
			</div>
			<div class="boss-tasks">
			<table>
				<tr>
					<th style="width: 30px"></th>
					<th th:text="#{label.task}"></th>
					<th th:text="#{label.description}"></th>
					<th style="width: 100px" th:text="#{label.priority}"></th>
					<th style="width: 110px" th:text="#{label.deadline}"></th>
					<th style="width: 70px" th:text="#{label.status}"></th>
					<th style="width: 70px"></th>
					<th style="width: 70px"></th>
					<th style="width: 70px"></th>
				</tr>
				<tr th:class="${'tr-' + t.status.name()}" th:each="t, it : ${myTasks}">
					<td style="width: 30px" th:text="${it.count}"></td>
					<td th:text="${t.taskname}"></td>
					<td th:text="${t.description}"></td>
					<td style="width: 100px" th:text="${t.priority}"></td>
					<td style="width: 110px" th:text="${t.deadlinedate}"></td>
					<td style="width: 70px" th:text="${t.status}"></td>
					<td style="width: 70px">
						<div class="i-ico-green">
							<a th:if="${t.status.name() == 'ONGOING' or t.status.name() == 'DELAY'}"  th:href="@{'/task/DONE/' +  ${t.id}}"><i class="fas fa-check-square fa-2x"></i></a>
						</div>
					</td>
					<td style="width: 70px">
						<div class="i-ico-red">
							<a th:if="${t.status.name() == 'ONGOING' or t.status.name() == 'DELAY'}"  th:href="@{'/task/FAIL/' +  ${t.id}}"><i class="fas fa-times-circle fa-2x"></i></a>
						</div>
					</td>
					<td style="width: 70px">
						<div class="i-ico">
							<a th:href="@{'task/del/' + ${t.id}}"><i class="fas fa-trash-alt fa-2x"></i></a>
						</div>
					</td>
				</tr>
			</table>
			</div>
		</div>
		<aside class="right-content">
			<div class="aside-box">
				<form th:action="@{/savenote}" method="post" th:object="${myNote}">
				<input type="hidden" name="id" th:field="*{id}">
				<div>
					<label for="mynote" th:text="#{label.note}"></label>
				</div>
				<div>
					<textarea id="mynote" name="text" th:text="${myNote.text}"></textarea>
				</div>
				<div>
					<button class="button" type="submit" th:text="#{button.save}"></button>
				</div>
				</form>
			</div>
			
			<div class="aside-box" style="margin-top: 10px;">
				<form th:action="@{/task}" method="post" th:object="${task}">
				<input type="hidden" name="employeeid" th:value="${session.user.id}">
				<input type="hidden" name="owner" value="ME">
				<input type="hidden" name="status" value="ONGOING">
				<div class="t-label">
					<label for="taskname" th:text="#{label.name}"></label>
				</div>
				<div>
					<input type="text" name="taskname" id="taskname" required>
				</div>
				<div class="t-label">
					<label for="description" th:text="#{label.description}"></label>
				</div>
				<div>
					<textarea id="description" name="description"></textarea>
				</div>
				<div class="t-label">
					<label for="priority" th:text="#{label.priority}"></label>
				</div>
				<div class="radio-buttons">
						<div>
							<label for="priorityN" th:text="#{status.priority.normal}"></label>
							<input type="radio" name="priority" id="priorityN" value="NORMAL" checked>
						</div>
						<div>
							<label for="priorityH" th:text="#{status.priority.high}"></label>
							<input type="radio" name="priority" id="priorityH" value="HIGH">
						</div>
						<div>
							<label for="priorityL" th:text="#{status.priority.low}"></label>
							<input type="radio" name="priority" id="priorityL" value="LOW">
						</div>
					</div>
					
					<div class="t-label">
						<label for="deadline" th:text="#{label.deadline}"></label>
					</div>
					<div class="radio-buttons">
						<div>
							<label for="deadlineNone" th:text="#{status.none}"></label>
							<input type="radio" name="deadline" id="deadlineNone" value="NONE" checked>
						</div>
						<div>
							<label for="deadlineToday" th:text="#{status.today}"></label>
							<input type="radio" name="deadline" id="deadlineToday" value="TODAY">
						</div>
						<div>
							<label for="deadlineTomorrow" th:text="#{status.tomorrow}"></label>
							<input type="radio" name="deadline" id="deadlineTomorrow" value="TOMORROW">
						</div>
						<div>
							<label for="deadlineOther" th:text="#{status.other}"></label>
							<input type="radio" name="deadline" id="deadlineOther" value="OTHER">
						</div>
					</div>
					
					<div>
						<label for="deadlinedate" th:text="#{status.ohterdate}"></label>
					</div>
					<div>
						<input type="date" name="deadlinedate" id="deadlinedate" required disabled>
					</div>
					<div style="margin-top: 10px;">
						<button class="button" type="submit" th:text="#{button.add}"></button>
					</div>
				</form>
			</div>
		</aside>
	</div>
	

	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
<script>

document.getElementById("deadlineOther").onchange = function(){
	document.getElementById("deadlinedate").disabled = false;	
}

document.getElementById("deadlineNone").onchange = function(){
	document.getElementById("deadlinedate").disabled = true;	
}

document.getElementById("deadlineTomorrow").onchange = function(){
	document.getElementById("deadlinedate").disabled = true;	
}

document.getElementById("deadlineNone").onchange = function(){
	document.getElementById("deadlinedate").disabled = true;	
}

</script>
</html>