@charset "UTF-8";

a:link.stage-button{
	background-color:  #037135;
	border: 3px solid #296e0f;
}

a:visited.stage-button{
	background-color:  #037135;
	border: 3px solid #296e0f;
}

a:hover.stage-button{
	background-color:  #4e9a06;
}

#container{
	background-color:  #e4ffd9;
}

th{
	background-color: #037135;
}

.button{
	background-color: #037135;
}

.button:hover{
	background-color: #4e9a06;
}


a:link.aButton{
	background-color: #037135;
}

a:visited.aButton{
	background-color: #037135;
}

a:hover.aButton{
	background-color: #4e9a06;
}

a:link.button_new{
	
	background-color: #037135;
}

a:visited.button_new{
	background-color: #037135;
}

a:hover.button_new{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}