@charset "UTF-8";


#form-edit-employee-container{
	margin: auto;
	margin-bottom: 10px;
	color: #ffffff;
	font-weight: bold;
	width: 50%;
	height: auto;
	background-color: #037135;
	border-radius: 10px;
	overflow: auto;
}

label {
      width: 100px;
      margin: 5px 0;
      float: left;
      clear: left;
      }
input, textarea, select {float: left; margin-top: 10px;}

button{
	margin-left: 45%;
}

h3{
	text-align: center;
	background-color: black;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.5em;
}

.edit-column{
	width: 46%;
	padding: 1%;
	float: left;
}

.input-div:after{
	width: 100%;
	height: 30px;
	overflow: auto;
	float: left;
	margin: auto;
}

.outer-container{
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	border: 3px groove mediumseagreen;
	color: white;
	font-weight: bold;
	background-color: #037135;
}

.outer-container2{
	margin: auto;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	border: 3px groove mediumseagreen;
	color: white;
	font-weight: bold;
	background-color: #037135;
}
cd-row{
	display: flex;
}

.d-row{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.newemployee-outer-container{
	margin: auto;
	width: 40%;
	overflow: auto;
	background-color: #037135;
	padding: 2%;
	color: white;
	font-weight: bold;
	border: 3px groove mediumseagreen;
}
.newemployee-outer-container2{
	margin: auto;
	width: 40%;
	overflow: auto;
	background-color: #037135;
	padding: 2%;
	color: white;
	font-weight: bold;
	border: 3px groove mediumseagreen;
}
.newemployee-outer-container2 div{
	margin-left: 20%;
}
.SummaryNewemployee-outer-container{
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	width: 50%;
	height: 130px;
	overflow: auto;
	background-color: #0ea762;
	padding: 2%;
	color: white;
	font-weight: bold;
	border: 3px groove mediumseagreen;
}
.SummaryNewemployee-outer-containerPart1, .SummaryNewemployee-outer-containerPart2{
	margin-top: -35px;
}
.SummaryNewemployee-outer-container p{
	font-size: 16px;
	padding-top: 5px;
}
.H{
	border: 3px groove mediumseagreen;
	background-color: #096f41;
	color: #dddddd;
	margin: auto;
	width: 100%;
	
}
.box{
	display: flex;
    justify-content: space-evenly;
    margin-top: -20px;
}

.buttonNewEmployee2{
		margin-left: 5%;
		margin-top: 1%;
}
.passNewEmployee2{
	margin-top: 10px;
}
.newemployee-outer-container2 p{
	margin-top: -25px;
	color: red;
	margin-left:1%;
	padding-top:5px;
}

.button-accept{
	border-radius: 3px;
	padding: 10px;
	font-size: 1.2em;
	font-weight: bold;
	background-color:  #7fc7a0;
}

.button-accept:visited{
	border-radius: 3px;
	padding: 10px;
	font-size: 1.2em;
	font-weight: bold;
	background-color:  #7fc7a0;
}

.button-accept:hover{
	border-radius: 3px;
	padding: 10px;
	font-size: 1.2em;
	font-weight: bold;
	background-color:  #c4a000;
}
