@charset "UTF-8";

body{
	color: #555753;
	background-color: #fffffff;
	font-family: Arial, Helvetica, Verdana, sans-serif 
}

header{
	background-color: #555753;
	height: 45px;
	width: 100%;
	border-radius: 3px;
}

footer{
	background-color: #d3d7cf;
	width: 100%;
	color: #6f6f6f;
	text-align: center;
    bottom: 0;
}

nav{
	margin: auto;
	margin-top: 10px;
	width: 95%;
	background-color: #2e3436;
	height: 50px;
}

a:link.button_new{
	width: 30%;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	display:block;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	border-radius: 2px;
	overflow: auto;
}

a:visited.button_new{
	width: 30%;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	display:block;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	border-radius: 2px;
	overflow: auto;
}

a:hover.button_new{
	width: 30%;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	display:block;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	border-radius: 2px;
	overflow: auto;
	border: 1px solid black;
}

.flag{
	width: 35px;
	height: 20px;
}

.top-right-icon{
	margin-top: 5px;
	margin-right: 5px;
	float: right;
}

#container{
	width: 95%;
	margin: auto;
	min-height: 500px;
	height: auto;
	overflow: auto;
}

.error_message{
	color: red;
	font-weight: bold;
	text-align: center;
}

.wronginput{
	color: red;
	font-weight: bold;
}

.warning_message{
	color: #fce94f;
	font-weight: bold;
	text-align: center;
}

.success_message{
	color: #037135;
	font-weight: bold;
	text-align: center;
}

.header-container{
	width: 100%;
}

.header-header{
	margin-top: 0px;
	text-align:center;
	font-size: 30px;
	color: white;
}
.navUserPanel{
  color: white;
  text-decoration: none;
  margin-left: 2%;
  padding: 13px 16px;
  display: inline-block;

}
a:hover {
  background-color: #111;
}

form{
	padding: 1%;
	/* border: 1px solid #037135; */
	border-radius: 8px;
}

input {
	border-radius: 4px;
	padding: 5px;
	font-size: 16px;
}

label{
	font-size: 16px;
}
