@charset "UTF-8";

body{
	color: #555753;
	background-color: #fffffff;
	font-family: Arial, Helvetica, Verdana, sans-serif 
}

header{
	display: flex;
	justify-content: space-between;
	background-color: #555753;
	height: 45px;
	width: 100%;
	border-radius: 3px;

}

.dot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;

}

.dot-green {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;

}

.dot-orange {
  height: 25px;
  width: 25px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;

}

.username{

	color: yellow;
	font-weight: bold;
	font-size: 1.2em;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flag{
	width: 35px;
	height: 20px;
}

.top-right-icon{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex: 1;
	margin-right: 10px;
}
.role-panel{
	display: flex;
	justify-content: center;
  	flex: 3;
}
.navUserPanel{
	display: inline-block;
  	color: white;
  	font-weight: bold;
  	text-decoration: none;
  	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.navUserPanel:hover {
  background-color: #111;
}

footer{
	background-color: #d3d7cf;
	width: 100%;
	color: #6f6f6f;
	text-align: center;
    bottom: 0;
}

nav{
	margin: auto;
	margin-top: 10px;
	width: 99%;
	background-color: #2e3436;
	height: 50px;
}

a:link.button_new{
	width: 30%;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	display:block;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	border-radius: 2px;
	overflow: auto;
}

a:visited.button_new{
	width: 30%;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	display:block;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	border-radius: 2px;
	overflow: auto;
}

a:hover.button_new{
	width: 30%;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	display:block;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	border-radius: 2px;
	overflow: auto;
	border: 1px solid black;
}

#container{
	width: 99%;
	margin: auto;
	min-height: 80vh;
	height: auto;
	overflow: auto;
}

.error_message{
	color: red;
	font-weight: bold;
	text-align: center;
}

.wronginput{
	color: red;
	font-weight: bold;
}

.warning_message{
	color: #fce94f;
	font-weight: bold;
	text-align: center;
}

.success_message{
	color: #037135;
	font-weight: bold;
	text-align: center;
}

.header-container{
	width: 100%;
	height:  35px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.header-header{
	margin-top: 0px;
	text-align:center;
	font-size: 30px;
	color: white;
}



form{
	padding: 1%;
	/* border: 1px solid #037135; */
	/* border-radius: 8px; */
}

input {
	border-radius: 4px;
	padding: 5px;
	font-size: 16px;
}

label{
	font-size: 16px;
}

.button_container{
	margin:auto;
	width: 100%;;
	overflow:hidden;
	height:1%;
	margin-top: 10px;
}



.savebutton{
	min-width: 100px;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
}

