<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="all" href="/css/login_style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />

</head>
<body>
	
	<div class="row">
		<p th:text="${error_msg}" class="error_message"></p>
		<p th:text="${success_msg}" class="success_message"></p>
	
		<form th:action="@{/forgotpass}" method="post">
			<h1 th:text="#{msg.forgotpassword}"></h1>
			<label for="login" th:text="#{username}"></label>
			<input type="text" id="login" name="login" required><br>
			<button type="submit" th:text="#{button.send}"></button>
		</form>
	</div>
</body>
</html>