<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/show_style.css" />
	<script src="https://kit.fontawesome.com/7ccfa6815b.js" crossorigin="anonymous"></script>
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header" th:text="#{label.date}"></h1>
		</div>
		
		<div th:replace="user/display/fragments/viewbar:: viewbar"></div>

		<div th:replace="user/display/fragments/dataFilters :: dataFilters"></div> 
		<div class="showedFields"  th:replace="user/display/fragments/datafieldshideshow:: datafieldshideshow"></div>

		
		<div>
			<div class="table-div">
				<table id="basic-table">
					<tr>
						<th>lp</th>
						<th class="td_small">Status</th>
						<th>PROFIL</th>
						<th th:text="#{firstname}"></th>
						<th th:text="#{lastname}"></th>
						<th th:if="${fd.bDateofbirth == true}" th:text="#{dateofbirth}" class="td_date"></th>
						<th th:if="${fd.bRecruiter == true}" th:text="#{label.recruiter}"></th>
						<th th:if="${fd.bCompany == true}" th:text="#{company}"></th>
						<th th:if="${fd.bFactory == true}" th:text="#{factory}"></th>
						<th th:if="${fd.bStartMedicalExams == true}" th:text="#{medical.form}" class="td_date"></th>
						<th th:if="${fd.bEndMedicalExams == true}" th:text="#{mediacl.to}" class="td_date"></th>
						<th th:if="${fd.bAddToSystem == true}" th:text="#{inSystemFrom}" class="td_date"></th>

					</tr>
					
					<tr>
						<td class="td_noP">
						</td>
						<td class="td_noP">
							<form th:action="@{/showdata/sort}" method="post">
								<input type="hidden" name="field" value="STATUS">
								<button class="sort-button" name="sortT" value="down">&#8659;</button>
								<button class="sort-button" name="sortT" value="up">&#8657;</button>
							</form>
						</td>
						<td class="td_noP">
						</td>
						<td class="td_noP">
							<form th:action="@{/showdata/sort}" method="post">
								<input type="hidden" name="field" value="FIRSTNAME">
								<button class="sort-button" name="sortT" value="down">&#8659;</button>
								<button class="sort-button" name="sortT" value="up">&#8657;</button>
							</form>
						</td>
						<td class="td_noP">
							<form th:action="@{/showdata/sort}" method="post">
								<input type="hidden" name="field" value="LASTNAME">
								<button class="sort-button" name="sortT" value="down">&#8659;</button>
								<button class="sort-button" name="sortT" value="up">&#8657;</button>
							</form>
						</td>
						<td th:if="${fd.bDateofbirth == true}"  class="td_noP">
							<form th:action="@{/showdata/sort}" method="post">
								<input type="hidden" name="field" value="DATEOFBIRTH">
								<button class="sort-button" name="sortT" value="down">&#8659;</button>
								<button class="sort-button" name="sortT" value="up">&#8657;</button>
							</form>
						</td>
						<td th:if="${fd.bRecruiter == true}"  class="td_noP">
							<form th:action="@{/showdata/sort}" method="post">
								<input type="hidden" name="field" value="RECRUITER">
								<button class="sort-button" name="sortT" value="down">&#8659;</button>
								<button class="sort-button" name="sortT" value="up">&#8657;</button>
							</form>
						</td>
						<td th:if="${fd.bCompany == true}"  class="td_noP">
							<form th:action="@{/showdata/sort}" method="post">
								<input type="hidden" name="field" value="COMPANY">
								<button class="sort-button" name="sortT" value="down">&#8659;</button>
								<button class="sort-button" name="sortT" value="up">&#8657;</button>
							</form>
						</td>
						<td th:if="${fd.bFactory == true}"  class="td_noP">
							<form th:action="@{/showdata/sort}" method="post">
								<input type="hidden" name="field" value="FACTORY">
								<button class="sort-button" name="sortT" value="down">&#8659;</button>
								<button class="sort-button" name="sortT" value="up">&#8657;</button>
							</form>
						</td>
						<td th:if="${fd.bStartMedicalExams == true}"  class="td_noP">
							<form th:action="@{/showdata/sort}" method="post">
								<input type="hidden" name="field" value="STARTMEDICAL">
								<button class="sort-button" name="sortT" value="down">&#8659;</button>
								<button class="sort-button" name="sortT" value="up">&#8657;</button>
							</form>
						</td>
						<td th:if="${fd.bEndMedicalExams == true}"  class="td_noP">
							<form th:action="@{/showdata/sort}" method="post">
								<input type="hidden" name="field" value="ENDMEDICAL">
								<button class="sort-button" name="sortT" value="down">&#8659;</button>
								<button class="sort-button" name="sortT" value="up">&#8657;</button>
							</form>
						</td>
						<td th:if="${fd.bAddToSystem == true}"  class="td_noP">
							<form th:action="@{/showdata/sort}" method="post">
								<input type="hidden" name="field" value="ADDTOSYSTEM">
								<button class="sort-button" name="sortT" value="down">&#8659;</button>
								<button class="sort-button" name="sortT" value="up">&#8657;</button>
							</form>
						</td>
					</tr>
					
					<tr th:each="i, it : ${dv_list}">
						<td th:text="${it.count}"></td>
						<td>
							<span th:if="${i.status == 1}" class="dot-green"></span> 
							<span th:unless="${i.status == 1}" class="dot"></span>
						</td>
						<td>
							<div class="i-ico">
								<a th:href="@{'/profil/'+ ${i.id}}"><i class="fas fa-address-card fa-2x"></i></a>
							</div>
						</td>
						<td th:text="${i.firstname}"></td>
						<td th:text="${i.lastname}"></td>
						<td th:if="${fd.bDateofbirth == true}"  th:text="${i.dateofbirth}"></td>
						<td th:if="${fd.bRecruiter == true}" th:text="${i.recruiter}"></td>
						<td th:if="${fd.bCompany == true}"  th:text="${i.company}"></td>
						<td th:if="${fd.bFactory == true}" th:text="${i.factory}"></td>
						<td th:if="${fd.bStartMedicalExams == true}" th:text="${i.startMedicalExams}"></td>
						<td th:if="${fd.bEndMedicalExams == true}" th:text="${i.endMedicalExams}"></td>
						<td th:if="${fd.bAddToSystem == true}" th:text="${i.addToSystem}"></td>
			
						
					</tr>
				</table>
			</div>
		
		</div>
	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>

<script src="/scripts/DataViewScript.js"></script>
<script src="/scripts/ViewCommon.js"></script>
</html>