<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> HRtek</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<nav th:fragment="menu">
		<ul>
			<li><a th:href="@{/admin}">Home</a></li>
			<li><a th:href="@{/admin/employees}">Pracownicy</a></li>
			<li><a th:href="@{/admin/factory}">Fabryki</a></li>
			<li><a th:href="@{/admin/company}">Firmy</a></li>
			<li><a th:href="@{/admin/others}">Inne</a></li>
			<li><a href="">Logi</a></li>
		</ul>
	</nav>
</body>
</html>