<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> HRtek</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<nav th:fragment="menu">
		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/canditate}">Zatrudnij</a></li>
			<li><a th:href="@{/accommodation}">Zakwaterowanie</a></li>
			<li><a th:href="@{/showbasic}">Listy</a></li>
			<li><a th:href="@{/reports}">Raporty</a></li>
			<li><a th:href="@{/timesheet}">List Obecności</a></li>
			<li><a th:href="@{/statistic}">Statystyki</a></li>			
			
		</ul>
	</nav>
</body>
</html>