<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{appName}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<nav th:fragment="menu">
		<ul>
			<li><a th:href="@{/}" th:text="#{menu.home}"></a></li>
			<li><a th:href="@{/canditate}" th:text="#{menu.hire}"></a></li>
			<li><a th:href="@{/accommodation}" th:text="#{menu.accommodation}"></a></li>
			<li><a th:href="@{/showbasic}" th:text="#{menu.tabels}"></a></li>
			<li><a th:href="@{/reports}" th:text="#{menu.reports}"></a></li>
			<li><a th:href="@{/timesheet}" th:text="#{menu.timesheet}"></a></li>
			<li><a th:href="@{/statistic}" th:text="#{menu.statistics}"></a></li>
			<li><a th:href="@{/tickets}" th:text="#{menu.tickets}"></a></li>			
		</ul>
	</nav>
</body>
</html>