<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/recruitment_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header">Rekrutacja</h1>
		</div>
		
		<div class="stage-container">
			<a class="stage-button" th:href="@{/canditate}">Faza 1</a>
			<a class="stage-button" th:href="@{/recruitment}">Faza 2</a>
		</div>
		
		<p th:text="${success_msg}" class="success_message"></p>
		
		<div class="content">
			<form th:action="@{/canditate}" method="post" th:object="${candidate}">
				<div class="section-header"><h3>Kadydat</h3></div>
				<div class="row">
					<div class="col-a">
						<div class="label-div">
							<label for="firstname">Imię</label>
						</div>
						<div class="input-div">
							<input type="text" minlength="2" id="firstname" name="firstname" th:field="*{firstname}" required><br>
						</div>
					</div>
					
					<div class="col-a">
						<div class="label-div">
							<label for="lastname">Nazwisko</label>
						</div>
						<div class="input-div">
							<input type="text" minlength="2" id="lastname" name="lastname" th:field="*{lastname}" required><br>
						</div>
					</div>
					<div class="col-a">
						<div class="label-div">
							<label for="lastname">Płeć</label>
						</div>
						<div class="input-div">
							<label for="sexM">Male</label>
							<input type="radio" id="sexM" name="sex" value="M" checked>
							<label for="sexF">Female</label>
							<input type="radio" id="sexM" name="sex" value="F" >
						</div>
					</div>
				</div>

				
				<!-- -------------------------------------------------- -->
				
					<p th:text="${message_contact}" class="error_message"></p>
					<div class="row">
						<div class="col-a">
							<div class="label-div">
								<label for="email">email</label>
							</div>
							<div class="input-div">
								<input type="email" id="email" name="email" th:field="*{email}"><br>
							</div>
						</div>
						<div class="col-a">
							<div class="label-div">
								<label for="phone">phone</label>
							</div>
							<div class="input-div">
								<input type="text" id="phone" name="phone" th:field="*{phone}"><br>
							</div>
						</div>
						<div class="col-a">
							<div class="label-div">
								<label for="recruiter">rekruter</label>
							</div>
							<div class="input-div">
								<select id="recruiter" name="recruiter" required>
									<option th:each="r : ${recruiters}" th:value="${r.id}" th:text="${r.value}"></option>			
								</select>
							</div>
						</div>
					</div>
			
				<!-- -------------------------------------------------- -->
				<div class="row">
					<div class="col-a">
						&nbsp;
					</div>
					<div class="col-a">
						<div class="label-div">
							<label for="note">Notatki</label>
						</div>
						<div class="input-div">
							<textarea id="note" name="note" rows="3" cols="20"></textarea>
						</div>
					</div>
					<div class="col-a">
						&nbsp;
					</div>
				</div>
				<!-- -------------------------------------------------- -->

				<div class="row-buttons">
					<button class="button" type="submit" id="savebutton" name="action" value="save">Zapis</button>
					<button class="button"  type="submit" id="saveandnext" name="action" value="saveandnext">Zapis i przejdź dalej</button>
				</div>
			</form>
			
		</div>	
		
		<div class="table-div">
			<table>
				<tr>
					<th>Lp</th>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>płeć</th>
					<th>rekruter</th>
					<th>email</th>
					<th>phone</th>
					<th>uwagi</th>
					<th></th>
				</tr>
				<tr th:each="i, it : ${candidate_list}">
					<td th:text="${it.count}" class="td_lp"></td>
					<td th:text="${i.firstname}"></td>
					<td th:text="${i.lastname}"></td>
					<td th:text="${i.sex}" class="td_sex"></td>
					<td th:text="${i.recruiter}"></td>
					<td th:text="${i.email}"></td>
					<td th:text="${i.phone}"></td>
					<td th:text="${i.note}"></td>
					<td class="td_short_button">
						<a th:href="@{'/recruitment/' + ${i.id}}" class="tdbutton">usuń</a>
					</td>
				</tr>
				
				
			</table>
		</div>
	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>