<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/recruitment_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
</head>
<body>
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header" th:text="#{label.recruitment}"></h1>
		</div>
		
		<div class="stage-container">
			<a class="stage-button" th:href="@{/canditate}" th:text="#{button.stage1}"></a>
			<a class="stage-button" th:href="@{/recruitment}" th:text="#{button.stage2}"></a>
		</div>
		
		<p th:text="${success_msg}" class="success_message"></p>
		
		<div class="content">
			<form th:action="@{/canditate}" method="post" th:object="${candidate}">
				<div class="section-header" ><h2 th:text="#{label.candidate}"></h2></div>
				<div class="row">
					<div class="col-a">
						<label for="firstname" th:text="#{firstname}"></label>
						<input type="text" minlength="2" id="firstname" name="firstname" th:field="*{firstname}" required>
					</div>
					
					<div class="col-a">
						<div class="label-div">
							<label for="lastname" th:text="#{lastname}"></label>
						</div>
						<div class="input-div">
							<input type="text" minlength="2" id="lastname" name="lastname" th:field="*{lastname}" required><br>
						</div>
					</div>
					<div class="col-a">
						<div class="label-div">
							<label for="lastname" th:text="#{sex}"></label>
						</div>
						<div class="input-div">
							<label for="sexM" th:text="#{male}"></label>
							<input type="radio" id="sexM" name="sex" value="M" checked required>
							<label for="sexF" th:text="#{female}"></label>
							<input type="radio" id="sexM" name="sex" value="F" required>
						</div>
					</div>
				</div>

				
				<!-- -------------------------------------------------- -->
				
					<p th:text="${message_contact}" class="error_message"></p>
					<div class="row">
						<div class="col-a">
							<div class="label-div">
								<label for="email" th:text="#{email}"></label>
							</div>
							<div class="input-div">
								<input type="email" id="email" name="email" th:field="*{email}"><br>
							</div>
						</div>
						<div class="col-a">
							<div class="label-div">
								<label for="phone" th:text="#{phone}"></label>
							</div>
							<div class="input-div">
								<input type="text" id="phone" name="phone" th:field="*{phone}"><br>
							</div>
						</div>
						<div class="col-a">
							<div class="label-div">
								<label for="recruiter" th:text="#{recruiter}"></label>
							</div>
							<div class="input-div">
								<select id="recruiter" name="recruiter" required>
									<option th:each="r : ${recruiters}" th:value="${r.id}" th:text="${r.value}"></option>			
								</select>
							</div>
						</div>
					</div>
			
				<!-- -------------------------------------------------- -->
				<div class="row">
					<div class="col-a">
						&nbsp;
					</div>
					<div class="col-a">
						<div class="label-div">
							<label for="note" th:text="#{label.note}"></label>
						</div>
						<div class="input-div">
							<textarea class="note" name="note"></textarea>
						</div>
					</div>
					<div class="col-a">
						&nbsp;
					</div>
				</div>
				<!-- -------------------------------------------------- -->

				<div class="row-buttons">
					<button class="button" type="submit" id="savebutton" name="action" value="save" th:text="#{button.save}"></button>
					<button class="button"  type="submit" id="saveandnext" name="action" value="saveandnext" th:text="#{button.save.and.next}"></button>
				</div>
			</form>
			<form th:action="@{/canditate/filterold}" method="post">
				<div class="section-header"><h2 th:text="#{label.archives}"></h2></div>
				<div class="filter-container">
					<div>
						<select id="id" name="id" required>
							<option th:each="i : ${oldW}" th:value="${i.id}" th:text="${i.name}"></option>
						</select>
					</div>
					<div>
						<input type="text" minlength="3" name="stext">
					</div>
					<div>
						<button class="button" type="submit" name="action" value="filter" th:text="#{button.filter}"></button>
					</div>
					<div>
						<button class="button" type="submit" name="action" value="fill" th:text="#{button.next}"></button>
					</div>
				</div>
			</form>
			
			
		</div>	
		
		<div class="table-div">
			<table>
				<tr>
					<th>Lp</th>
					<th th:text="#{firstname}"></th>
					<th th:text="#{lastname}"></th>
					<th th:text="#{sex}"></th>
					<th th:text="#{recruiter}"></th>
					<th th:text="#{email}"></th>
					<th th:text="#{phone}"></th>
					<th th:text="#{remarks}"></th>
					<th></th>
				</tr>
				<tr th:each="i, it : ${candidate_list}">
					<td th:text="${it.count}" class="td_lp"></td>
					<td th:text="${i.firstname}"></td>
					<td th:text="${i.lastname}"></td>
					<td th:text="${i.sex}" class="td_sex"></td>
					<td th:text="${i.recruiter}"></td>
					<td th:text="${i.email}"></td>
					<td th:text="${i.phone}"></td>
					<td th:text="${i.note}"></td>
					<td class="td_short_button">
						<a th:href="@{'/canditate/' + ${i.id}}" class="aButton" onclick="return confirm('Are you sure you want to delete this candidate?')" th:text="#{button.delete}"></a>
					</td>
				</tr>
				
				
			</table>
		</div>
	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>