<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/recruitment_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
</head>
<body onload="enableReadOnly()">
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header">Rekrutacja</h1>
		</div>
		
		<div class="stage-container">
			<a class="stage-button" th:href="@{/canditate}">Faza 1</a>
			<a class="stage-button" th:href="@{/recruitment}">Faza 2</a>
		</div>
		
		<p th:text="${success_msg}" class="success_message"></p>
		<div class="mini-content">
			<div class="section-header"><h3>Kadydaci</h3></div>
			<form th:action="@{/recruitment/select}" method="post">
				<select id="candidateid" name="candidateid">
					<option th:each="i : ${candidates}" th:value="${i.id}" th:text="${i.value}"></option>
				</select>
				<button th:if="${candidates.isEmpty()}" type="submit" class="button" disabled>Wybierz</button>
				<button th:unless="${candidates.isEmpty()}" type="submit" class="button">Wybierz</button>
			</form>
		</div>
		
		<div class="content">
			<form th:action="@{/recruitment}" method="post" th:object="${newWorker}" id="form">
				<p th:text="${error_msg}" class="error_message"></p>
				<p th:text="${success_msg}" class="success_message"></p>
				<input type="hidden" name="id" th:field="*{id}">
				<div class="section-header"><h2>Dane personalne</h2></div>
					<!-- ---------------------  -->
					<div class="row">
						<div class="col">
							<div class="lab-div">
								<label for="firstname">Imię</label>
							</div>
							<div class="input-div">
								<input type="text" name="firstname" id="firstname" th:field="*{firstname}" required> 
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="lastname">Nazwisko</label>
							</div>
							<div class="input-div">
								<input type="text" name="lastname" id="lastname" th:field="*{lastname}" required>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="sex">Płeć</label>
							</div>
							<div class="input-div">
								<label for="sexM">Male</label>
								<input th:if="${newWorker.sex == 'M'}" type="radio" name="sex" id="sexM" value="M" checked>
								<input th:unless="${newWorker.sex == 'M'}" type="radio" name="sex" id="sexM" value="M">
								<input th:if="${newWorker.sex == 'F'}" type="radio" name="sex" id="sexF" value="F" checked>
								<label for="sexF">Female</label>
								<input th:unless="${newWorker.sex == 'F'}" type="radio" name="sex" value="F" id="sexF">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="dateofbirth">Data urodzenia</label>
							</div>
							<div class="input-div">
								<input type="date" id="dateofbirth" name="dateofbirth" th:field="*{dateofbirth}" min="1930-01-01" max="2200-01-01" required>
							</div>
						</div>
						
					</div>

					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="section-header"><h2>Dane personalne</h2></div>
						<div class="col">
							<div class="lab-div">
								<label for="passport">Paszport</label>
								<label for="isBiopass">(Bio)</label>
								<input th:if="${newWorker.isBiopass == true}" type="checkbox" name="isBiopass" id="isBiopass" checked>
								<input th:unless="${newWorker.isBiopass == true}" type="checkbox" name="isBiopass" id="isBiopass">
							</div>
							<div class="input-div">
								<input type="text" name="passport" id="passport" th:field="*{passport}" required>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="recruiter">Rekruter</label>
							</div>
							<div class="input-div">
								<select id="recruiter" name="recruiter" required>
									<option th:each="r : ${recruiters}" th:value="${r.id}" th:text="${r.value}"></option>
								</select>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="companyid">Firma</label>
							</div>
							<div class="input-div">
								<select id="companyid" name="companyid" required>
									<option th:each="c : ${companies}" th:value="${c.id}" th:text="${c.shortname}"></option>
								</select>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="factoryid">Fabryka</label>
							</div>
							<div class="input-div">
								<select id="factoryid" name="factoryid" required>
									<option th:each="f : ${factories}" th:value="${f.id}" th:text="${f.shortname}"></option>
								</select>
							</div>
						</div>
					</div>
					
					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="section-header"><h2>Adres - Polska</h2></div>
						<div class="col">
							<div class="lab-div">
								<label for="bedid">Nasze</label>
								<label for="isOhter">(Inne)</label>
								<input th:if="${newWorker.isOhter == true}" type="checkbox" name="isOhter" id="isOhter" checked>
								<input th:unless="${newWorker.isOhter == true}" type="checkbox" name="isOhter" id="isOhter">
							</div>
							<div class="input-div">
								<select id="bedid" name="bedid" required>
									<option th:each="b : ${beds}" th:value="${b.id}" th:text="${b.value}"></option>
								</select>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="pladdress">Adres</label>
							</div>
							<div class="input-div">
								<input type="text" name="pladdress" id="pladdress" th:field="*{pladdress}" disabled>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="plpostcode">Kod pocztowy</label>
							</div>
							<div class="input-div">
								<input type="text" name="plpostcode" id="plpostcode" th:field="*{plpostcode}" disabled>
							</div>
						</div>
					
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="plcity">City</label>
							</div>
							<div class="input-div">
								<input type="text" name="plcity" id="plcity" th:field="*{plcity}" disabled>
							</div>
						</div>
					</div>
					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="section-header"><h2>Adres - Zagraniczny</h2></div>
						<div class="col-a">
							<div class="lab-div">
								<label for="address">Adres</label>
							</div>
							<div class="input-div">
								<input type="text" name="address" id="address" th:field="*{address}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col-a">
							<div class="lab-div">
								<label for="postcode">Kod pocztowy</label>
							</div>
							<div class="input-div">
								<input type="text" name="postcode" id="postcode" th:field="*{postcode}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col-a">
							<div class="lab-div">
								<label for="city">Miasto</label>
							</div>
							<div class="input-div">
								<input type="text" name="city" id="city" th:field="*{city}">
							</div>
						</div>
					</div>
					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="section-header"><h2>Inne</h2></div>
						<div class="col-a">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></p>
								<label for="email">email</label>
							</div>
							<div class="input-div">
								<input type="text" name="email" id="email" th:field="*{email}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col-a">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" ></p>
								<label for="phone">phone</label>
							</div>
							<div class="input-div">
								<input type="text" name="phone" id="phone" th:field="*{phone}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col-a">
							<div class="lab-div">
								<label for="note">Notatki</label>
							</div>
							<div class="input-div">
								<textarea id="note" name="note" th:text="${newWorker.note}"></textarea>
							</div>
						</div>
						
					</div>
					<!-- ***************** ROW ************************ -->
					<div class="section-header"><h2>Umowa</h2></div>
					<div class="row">
						
						<div class="col"> &nbsp;</div>
						<div class="col">
							<div class="lab-div">
								<label for="startZus">Umowa od</label>
							</div>
							<div class="input-div">
								<input type="date" id="startZus" name="startZus" th:field="*{startZus}">
							</div>
						</div>
						<div class="col">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('endZus')}" th:errors="*{endZus}" ></p>
								<label for="endZus">Umowa do</label>
							</div>
							<div class="input-div">
								<input type="date" id="endZus" name="endZus" th:field="*{endZus}">
							</div>
						</div>
						<div class="col"> &nbsp;</div>
					</div>
					<!-- ***************** ROW ************************ -->
					<div class="section-header"><h2>Stawka</h2></div>
					<div class="row">
						
						<div class="col"> &nbsp;</div>
						<div class="col">
							<div class="lab-div">
								<label for="wage">Stawka pracownika</label>
							</div>
							<div class="input-div">
								<input type="number" min="0" step="0.01" id="wage" name="wage" th:field="*{wage}">
							</div>
						</div>
						<div class="col">
							<div class="lab-div">
								<label for="sWage">Stawka słownie</label>
							</div>
							<div class="input-div">
								<input type="text" id="sWage" name="sWage" th:field="*{sWage}">
							</div>
						</div>
						<div class="col"> &nbsp;</div>
					</div>
					<!-- ***************** ROW ************************ -->	
					<div class="row-buttons">
						<button th:if="${status == 'success'}" class="button" name="action" value="hire" type="submit" disabled>Zatrudnij</button>
						<button th:unless="${status == 'success'}" class="button" name="action" value="hire" type="submit">Zatrudnij</button>
						
						
						<button th:if="${status == 'success'}" class="button" name="action" value="contract" type="submit">Generuj umowe</button>
						<button th:unless="${status == 'success'}" class="button" name="action" value="contract" type="submit" disabled>Generuj umowe</button>
						
						<button th:if="${status == 'success'}" class="button" name="action" value="other" type="submit">Wypełnij pozostałe</button>
						<button th:unless="${status == 'success'}" class="button" name="action" value="other" type="submit" disabled>Wypełnij pozostałe</button>
					</div>
			</form>
		</div>
	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
<script type="text/javascript" src="/scripts/recruitment2.js">
</script>
</html>