<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/recruitment_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
</head>
<body onload="enableReadOnly()">
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header">Rekrutacja</h1>
		</div>

		<div class="content">
			<form th:action="@{/recruitment}" method="post" th:object="${workerAll}" id="form" enctype="multipart/form-data">
				
				<input type="hidden" name="id" th:field="*{id}">
				<div class="section-header"><h2>Dane personalne</h2></div>
					<!-- ---------------------  -->
					<div class="row">
						<div class="col">
							<div class="lab-div">
								<label for="firstname">Imię</label>
							</div>
							<div class="input-div">
								<input type="text" name="firstname" id="firstname" th:field="*{firstname}" required> 
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="lastname">Nazwisko</label>
							</div>
							<div class="input-div">
								<input type="text" name="lastname" id="lastname" th:field="*{lastname}" required>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="sex">Płeć</label>
							</div>
							<div class="input-div">
								<label for="sexM">Male</label>
								<input th:if="${workerAll.sex == 'M'}" type="radio" name="sex" id="sexM" checked>
								<input th:unless="${workerAll.sex == 'M'}" type="radio" name="sex" id="sexM">
								<input th:if="${workerAll.sex == 'F'}" type="radio" name="sex" id="sexF" checked>
								<label for="sexF">Female</label>
								<input th:unless="${workerAll.sex == 'F'}" type="radio" name="sex" id="sexF">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="dateofbirth">Data urodzenia</label>
							</div>
							<div class="input-div">
								<input type="date" id="dateofbirth" name="dateofbirth" th:field="*{dateofbirth}" min="1930-01-01" max="2200-01-01" required>
							</div>
						</div>
						
					</div>

					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="section-header"><h2>Dane personalne</h2></div>
						
						<div class="col">
							<div class="lab-div">
								<label for="recruiter">Rekruter</label>
							</div>
							<div class="input-div">
								<select id="recruiter" name="recruiter" required>
									<option th:each="r : ${recruiters}" th:value="${r.id}" th:text="${r.value}"></option>
								</select>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="companyid">Firma</label>
							</div>
							<div class="input-div">
								<select id="companyid" name="companyid" required>
									<option th:each="c : ${companies}" th:value="${c.id}" th:text="${c.shortname}"></option>
								</select>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="factoryid">Fabryka</label>
							</div>
							<div class="input-div">
								<select id="factoryid" name="factoryid" required>
									<option th:each="f : ${factories}" th:value="${f.id}" th:text="${f.shortname}"></option>
								</select>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="department">department</label>
							</div>
							<div class="input-div">
								<select id="department" name="department">
									<option th:each="d : ${departments}" th:value="${d.id}" th:text="${d.department}"></option>
								</select>
							</div>
						</div>
						<!-- ---------------------  -->
					</div>
					
					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="section-header"><h2>Adres - Polska</h2></div>
						<div class="col">
							<div class="lab-div">
								<label for="bedid">Nasze</label>
								<label for="workerAll">(Inne)</label>
								<input th:if="${workerAll.isOhter == true}" type="checkbox" name="isOhter" id="isOhter" checked>
								<input th:unless="${workerAll.isOhter == true}" type="checkbox" name="isOhter" id="isOhter">
							</div>
							<div class="input-div">
								<select id="bedid" name="bedid" required>
									<option th:each="b : ${beds}" th:value="${b.id}" th:text="${b.value}"></option>
								</select>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="pladdress">Adres</label>
							</div>
							<div class="input-div">
								<input type="text" name="pladdress" id="pladdress" th:field="*{pladdress}" disabled>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="plpostcode">Kod pocztowy</label>
							</div>
							<div class="input-div">
								<input type="text" name="plpostcode" id="plpostcode" th:field="*{plpostcode}" disabled>
							</div>
						</div>
					
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="plcity">City</label>
							</div>
							<div class="input-div">
								<input type="text" name="plcity" id="plcity" th:field="*{plcity}" disabled>
							</div>
						</div>
					</div>
					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="section-header"><h2>Adres - Zagraniczny</h2></div>
						<div class="col-a">
							<div class="lab-div">
								<label for="address">Adres</label>
							</div>
							<div class="input-div">
								<input type="text" name="address" id="address" th:field="*{address}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col-a">
							<div class="lab-div">
								<label for="postcode">Kod pocztowy</label>
							</div>
							<div class="input-div">
								<input type="text" name="postcode" id="postcode" th:field="*{postcode}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col-a">
							<div class="lab-div">
								<label for="city">Miasto</label>
							</div>
							<div class="input-div">
								<input type="text" name="city" id="city" th:field="*{city}">
							</div>
						</div>
					</div>
					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="section-header"><h2>Kontakt</h2></div>
						<div class="col"> &nbsp;</div>
						<div class="col">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></p>
								<label for="email">email</label>
							</div>
							<div class="input-div">
								<input type="text" name="email" id="email" th:field="*{email}">
							</div>
						
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" ></p>
								<label for="phone">phone</label>
							</div>
							<div class="input-div">
								<input type="text" name="phone" id="phone" th:field="*{phone}">
							</div>
						</div>
						<div class="col"> &nbsp;</div>
					</div>
					<!-- ***************** ROW ************************ -->
					<div class="section-header"><h2>Umowa</h2></div>
					<div class="row">
						
						<div class="col-a"> 
							<div class="lab-div">
								<label for="startWork">Strat work</label>
							</div>
							<div class="input-div">
								<input type="date" id="startWork" name="startWork" th:field="*{startWork}">
							</div>
						</div>
						<div class="col-a">
							<div class="lab-div">
								<label for="startZus">Umowa od(zus?)</label>
							</div>
							<div class="input-div">
								<input type="date" id="startZus" name="startZus" th:field="*{startZus}">
							</div>
						</div>
						<div class="col-a">
							<div class="lab-div">
								<label for="endZus">Umowa do(zus?)</label>
							</div>
							<div class="input-div">
								<input type="date" id="endZus" name="endZus" th:field="*{endZus}">
							</div>
						</div>
						
					</div>
					<div class="row">
						<div class="col"> &nbsp;</div>
						<div class="col">
							<div class="lab-div">
								<label for="startMedicalExams">Badania lekarskie od</label>
							</div>
							<div class="input-div">
								<input type="date" id="startMedicalExams" name="startMedicalExams" th:field="*{startMedicalExams}">
							</div>
						</div>
						<div class="col">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('endMedicalExams')}" th:errors="*{endMedicalExams}" ></p>
								<label for="endMedicalExams">Badania lekarskie do</label>
							</div>
							<div class="input-div">
								<input type="date" id="endMedicalExams" name="endMedicalExams" th:field="*{endMedicalExams}">
							</div>
						</div>
						<div class="col"> &nbsp;</div>
					</div>
					
					<!-- ***************** ROW ************************ -->	
					<div class="section-header"><h2>Bla bla</h2></div>
					<div class="row">
						<div class="col">
							<div class="lab-div">
								<label for="pesel">PESEL</label>
							</div>
							<div class="input-div">
								<input type="text" id="pesel" name="pesel" th:field="*{pesel}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="accountnr">Numer konta</label>
							</div>
							<div class="input-div">
								<input type="text" id="accountnr" name="accountnr" th:field="*{accountnr}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="workerNo">Nr Pracownika</label>
							</div>
							<div class="input-div">
								<input type="text" id="workerNo" name="workerNo" th:field="*{workerNo}">
							</div>
						</div>
						<!-- ---------------------  -->
						
						<div class="col">
							<div class="lab-div">
								<label for="citizenship">citizenship</label>
							</div>
							<div class="input-div">
								<select id="citizenship" name="citizenship" required>
									<option th:each="c : ${citizenships}" th:value="${c.id}" th:text="${c.name}"></option>
								</select>
							</div>
						</div>
						
						<!-- ---------------------  -->
					</div>
					
					<!-- ***************** ROW ************************ -->	
					<div class="section-header"><h2>Oświadczenie</h2></div>
					<div class="row">
						<div class="col">
							<div class="lab-div">
								<label for="statementType">typ</label>
							</div>
							<div class="input-div">
								<select id="statementType" name="statementType">
									<option value="VISA">VISA</option>
									<option value="WORK">WORK</option>
								</select>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="statement">Nr oświadczenia</label>
							</div>
							<div class="input-div">
								<input type="text" id="statement" name="statement" th:field="*{statement}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="statementValidFrom">ważne od</label>
							</div>
							<div class="input-div">
								<input type="date" id="statementValidFrom" name="statementValidFrom" th:field="*{statementValidFrom}">
							</div>
						</div>
						<!-- ---------------------  -->
						
						<div class="col">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('statementValidTo')}" th:errors="*{statementValidTo}" ></p>
								<label for="statementValidTo">Ważne do</label>
							</div>
							<div class="input-div">
								<input type="date" id="statementValidTo" name="statementValidTo" th:field="*{statementValidTo}">
							</div>
						</div>
					</div>
					
					<!-- ***************** ROW ************************ -->	
					
					<div class="section-header"><h2>Zezwolenie</h2></div>
					<div class="row">
						<div class="col">
							<div class="lab-div">
								<label for="permit">Zezwolenie</label>
							</div>
							<div class="input-div">
								<input type="text" id="permit" name="permit" th:field="*{permit}">
							</div>
						</div>
						
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="permitValidFrom">ważne od</label>
							</div>
							<div class="input-div">
								<input type="date" id="permitValidFrom" name="permitValidFrom" th:field="*{permitValidFrom}">
							</div>
						</div>
						<!-- ---------------------  -->
						
						<div class="col">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('permitValidTo')}" th:errors="*{permitValidTo}" ></p>
								<label for="permitValidTo">Ważne do</label>
							</div>
							<div class="input-div">
								<input type="date" id="permitValidTo" name="permitValidTo" th:field="*{permitValidTo}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="other">Inne</label>
							</div>
							<div class="input-div">
								<input type="text" id="other" name="other" th:field="*{other}">
							</div>
						</div>
					</div>
					
					<!-- ***************** ROW ************************ -->	
					<div class="section-header"><h2>Visa</h2></div>
					<div class="row">
						<div class="col-a">
							<div class="lab-div">
								<label for="visa">Visa No</label>
							</div>
							<div class="input-div">
								<input type="text" id="visa" name="visa" th:field="*{visa}">
							</div>
						</div>
						
						<!-- ---------------------  -->
						<div class="col-a">
							<div class="lab-div">
								<label for="visaValidFrom">ważne od</label>
							</div>
							<div class="input-div">
								<input type="date" id="visaValidFrom" name="visaValidFrom" th:field="*{visaValidFrom}">
							</div>
						</div>
						<!-- ---------------------  -->
						
						<div class="col-a">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('visaValidTo')}" th:errors="*{visaValidTo}" ></p>
								<label for="visaValidTo">Ważne do</label>
							</div>
							<div class="input-div">
								<input type="date" id="visaValidTo" name="visaValidTo" th:field="*{visaValidTo}">
							</div>
						</div>
					</div>

					<!-- ***************** ROW ************************ -->	
					<div class="section-header"><h2>Paszport</h2></div>
					<div class="row">
						<div class="col">&nbsp;</div>
						<div class="col">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('biopassport')}" th:errors="*{biopassport}" ></p>
								<label for="biopassport">Paszport biometryczny</label>
							</div>
							<div class="input-div">
								<input type="text" id="biopassport" name="biopassport" th:field="*{biopassport}">
							</div>
						</div>
						
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}" ></p>
								<label for="passport">Paszport</label>
							</div>
							<div class="input-div">
					
								<input type="text" id="passport" name="passport" th:field="*{passport}">
							</div>
						</div>
						<div class="col">&nbsp;</div>
					</div>
					<!-- ***************** ROW ************************ -->	
				<div class="section-header"><h2>Paszport</h2></div>
					<div class="row">
						<div class="col-b">
							<div class="lab-div">
								<label for="biopassport">Notatki</label>
							</div>
							<div class="input-div">
								<textarea id="note-80" name="note" th:text="${workerAll.note}"></textarea>
							</div>
						</div>
						
						<!-- ---------------------  -->
						<div class="col-b">
							<div class="lab-div">
								<label for="passport">Pliki</label>
							</div>
							<div class="input-div">
								<input id="fileInput" type="file" name="uploadFiles" onchange="update();" multiple><br>
								<textarea id="filelist" disabled="disabled" ></textarea><br>
							</div>
						</div>
					</div>

					<!-- ***************** ROW ************************ -->	
					<div class="row-buttons">
						<button th:unless="${status == 'success'}" name="action" value="saveothers" class="button"type="submit">Zapisz</button>
					</div>
			</form>
		</div>
	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
<!-- <script type="text/javascript" src="/scripts/recruitment2.js"> 
</script>-->
<script>
function update() {
    document.getElementById("filelist").value = "";
	var files = document.getElementById("fileInput").files;
	for (var i = 0; i < files.length ; i++){
		document.getElementById("filelist").value += files[i].name + "\n";
	}
}
</script>
</html>