<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{appName}"></title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/menu_bar.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/table_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/form_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/user_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/recruitment_style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/user/usercolors_style.css" />
</head>
<body onload="enableReadOnly()">
	<header th:replace="fragments/top :: top"></header>
	<nav th:replace="user/fragments/menu :: menu"></nav>
	<section id="container">
	<!-- ************************************************************************* -->
		<div class="header-container">
			<h1 class="header-header" th:text="#{label.recruitment}"></h1>
		</div>
		
		<div class="stage-container">
			<a class="stage-button" th:href="@{/canditate}" th:text="#{button.stage1}"></a>
			<a class="stage-button" th:href="@{/recruitment}" th:text="#{button.stage2}"></a>
		</div>
		
		<p th:text="${success_msg}" class="success_message"></p>
		<div class="mini-content">
			<div class="section-header"><h2 th:text="#{label.candidate}"></h2></div>
			<form th:action="@{/recruitment/select}" method="post">
				<div>
					<select id="candidateid" name="candidateid">
						<option th:each="i : ${candidates}" th:value="${i.id}" th:text="${i.value}"></option>
					</select>
				</div>
				<div class="row-buttons">
					<button th:if="${candidates.isEmpty()}" type="submit" class="button" disabled th:text="#{label.choose}"></button>
					<button th:unless="${candidates.isEmpty()}" type="submit" class="button" th:text="#{label.choose}"></button>
				</div>
			</form>
		</div>
		
		<div class="content">
			<form th:action="@{/recruitment}" method="post" th:object="${newWorker}" id="form">
				<p th:text="${error_msg}" class="error_message"></p>
				<p th:text="${success_msg}" class="success_message"></p>
				<input type="hidden" name="id" th:field="*{id}">
				<div class="section-header"><h2 th:text="#{label.personal.data}"></h2></div>
					<!-- ---------------------  -->
					<div class="row">
						<div class="col">
							<label for="firstname" th:text="#{firstname}"></label>
							<input type="text" name="firstname" id="firstname" th:field="*{firstname}" required> 
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<label for="lastname" th:text="#{lastname}"></label>
							<input type="text" name="lastname" id="lastname" th:field="*{lastname}" required>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="sex" th:text="#{sex}"></label>
							</div>
							<div class="input-div">
								<label for="sexM" th:text="#{male}"></label>
								<input th:if="${newWorker.sex == 'M'}" type="radio" name="sex" id="sexM" value="M" checked required>
								<input th:unless="${newWorker.sex == 'M'}" type="radio" name="sex" id="sexM" value="M" required>
								<input th:if="${newWorker.sex == 'F'}" type="radio" name="sex" id="sexF" value="F" checked required>
								<label for="sexF" th:text="#{female}"></label>
								<input th:unless="${newWorker.sex == 'F'}" type="radio" name="sex" value="F" id="sexF" required>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="dateofbirth" th:text="#{dateofbirth}"></label>
								<p class="wronginput" th:if="${#fields.hasErrors('dateofbirth')}" th:errors="*{dateofbirth}" ></p>
							</div>
							<div class="input-div">
								<input type="date" id="dateofbirth" name="dateofbirth" th:field="*{dateofbirth}" min="1930-01-01" max="2200-01-01" required>
							</div>
						</div>
						
					</div>

					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="col">
							<div class="lab-div">
								<label for="passport" th:text="#{passport}"></label>
								<label for="isBiopass" >(Bio)</label>
								<input th:if="${newWorker.isBiopass == true}" type="checkbox" name="isBiopass" id="isBiopass" checked>
								<input th:unless="${newWorker.isBiopass == true}" type="checkbox" name="isBiopass" id="isBiopass">
							</div>
							<div class="input-div">
								<input type="text" name="passport" id="passport" th:field="*{passport}" required>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="recruiter" th:text="#{label.recruiter}"></label>
							</div>
							<div class="input-div">
								<select id="recruiter" name="recruiter" required>
									<option th:each="r : ${recruiters}" th:value="${r.id}" th:text="${r.value}"></option>
								</select>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="companyid" th:text="#{company}"></label>
							</div>
							<div class="input-div">
								<select id="companyid" name="companyid" required>
									<option th:each="c : ${companies}" th:value="${c.id}" th:text="${c.shortname}"></option>
								</select>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="factoryid" th:text="#{factory}"></label>
							</div>
							<div class="input-div">
								<select id="factoryid" name="factoryid" required>
									<option th:each="f : ${factories}" th:value="${f.id}" th:text="${f.shortname}"></option>
								</select>
							</div>
						</div>
					</div>
					
					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="section-header"><h2 th:text="#{address} + ' - Poland'"></h2></div>
						<div class="col">
							<div class="lab-div">
								<label for="bedid" th:text="#{lable.our}"></label>
								<label for="isOhter">(other)</label>
								<input th:if="${newWorker.isOhter == true}" type="checkbox" name="isOhter" id="isOhter" checked>
								<input th:unless="${newWorker.isOhter == true}" type="checkbox" name="isOhter" id="isOhter">
							</div>
							<div class="input-div" th:if="${newWorker.isOhter == true}">
								<select id="bedid" name="bedid" disabled>
									<option th:each="b : ${beds}" th:value="${b.id}" th:text="${b.value}" ></option>
								</select>
							</div>
							<div class="input-div" th:unless="${newWorker.isOhter == true}">
								<select id="bedid" name="bedid" required>
									<option th:each="b : ${beds}" th:value="${b.id}" th:text="${b.value}" ></option>
								</select>
							</div>
							<div class="input-div" th:if="${newWorker.isOhter == true}">
								<label for="acomdate" th:text="#{from}"></label>
								<input type="date" id="acomdate" name="acomdate" disabled>
							</div>
							<div class="input-div" th:unless="${newWorker.isOhter == true}">
								<label for="acomdate" th:text="#{to}"></label>
								<input type="date" id="acomdate" name="acomdate">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="pladdress" th:text="#{address}"></label>
							</div>
							<div class="input-div">
								<input th:if="${newWorker.isOhter == true}" type="text" name="pladdress" id="pladdress" th:field="*{pladdress}">
								<input th:unless="${newWorker.isOhter == true}" type="text" name="pladdress" id="pladdress" th:field="*{pladdress}" disabled>
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="plpostcode" th:text="#{postcode}"></label>
							</div>
							<div class="input-div">
								<input th:if="${newWorker.isOhter == true}" type="text" name="plpostcode" id="plpostcode" th:field="*{plpostcode}">
								<input th:unless="${newWorker.isOhter == true}" type="text" name="plpostcode" id="plpostcode" th:field="*{plpostcode}" disabled>
							</div>
						</div>
					
						<!-- ---------------------  -->
						<div class="col">
							<div class="lab-div">
								<label for="plcity" th:text="#{city}"></label>
							</div>
							<div class="input-div">
								<input th:if="${newWorker.isOhter == true}" type="text" name="plcity" id="plcity" th:field="*{plcity}">
								<input th:unless="${newWorker.isOhter == true}" type="text" name="plcity" id="plcity" th:field="*{plcity}" disabled>
							</div>
						</div>
					</div>
					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="section-header" ><h2 th:text="#{label.addressabroad}"></h2></div>
						<div class="col-a">
							<div class="lab-div">
								<label for="address" th:text="#{address}"></label>
							</div>
							<div class="input-div">
								<input type="text" name="address" id="address" th:field="*{address}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col-a">
							<div class="lab-div">
								<label for="postcode" th:text="#{postcode}"></label>
							</div>
							<div class="input-div">
								<input type="text" name="postcode" id="postcode" th:field="*{postcode}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col-a">
							<div class="lab-div">
								<label for="city" th:text="#{city}"></label>
							</div>
							<div class="input-div">
								<input type="text" name="city" id="city" th:field="*{city}">
							</div>
						</div>
					</div>
					<!-- ***************** ROW ************************ -->
					<div class="row">
						<div class="section-header"><h2 th:text="#{other}"></h2></div>
						<div class="col-a">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></p>
								<label for="email" th:text="#{email}"></label>
							</div>
							<div class="input-div">
								<input type="text" name="email" id="email" th:field="*{email}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col-a">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" ></p>
								<label for="phone" th:text="#{phone}"></label>
							</div>
							<div class="input-div">
								<input type="text" name="phone" id="phone" th:field="*{phone}">
							</div>
						</div>
						<!-- ---------------------  -->
						<div class="col-a">
							<div class="lab-div">
								<label for="note" th:text="#{remarks}"></label>
							</div>
							<div class="input-div">
								<textarea id="note" name="note" th:text="${newWorker.note}"></textarea>
							</div>
						</div>
						
					</div>
					<!-- ***************** ROW ************************ -->
					<div class="section-header"><h2 th:text="#{label.agreement}"></h2></div>
					<div class="row">
						
						<div class="col"> &nbsp;</div>
						<div class="col">
							<div class="lab-div">
								<label for="startZus" th:text="#{label.agreement.from}"></label>
							</div>
							<div class="input-div">
								<input type="date" id="startZus" name="startZus" th:field="*{startZus}">
							</div>
						</div>
						<div class="col">
							<div class="lab-div">
								<p class="wronginput" th:if="${#fields.hasErrors('endZus')}" th:errors="*{endZus}" ></p>
								<label for="endZus" th:text="#{lable.agreement.to}"></label>
							</div>
							<div class="input-div">
								<input type="date" id="endZus" name="endZus" th:field="*{endZus}">
							</div>
						</div>
						<div class="col"> &nbsp;</div>
					</div>
					<!-- ***************** ROW ************************ -->
					<div class="section-header"><h2 th:text="#{lable.wage}"></h2></div>
					<div class="row">
						
						<div class="col"> &nbsp;</div>
						<div class="col">
							<div class="lab-div">
								<label for="wage" th:text="#{label.wagePerHour}"></label>
							</div>
							<div class="input-div">
								<input type="number" min="0" step="0.01" id="wage" name="wage" th:field="*{wage}">
							</div>
						</div>
						<div class="col">
							<div class="lab-div">
								<label for="sWage" th:text="#{label.wage.in.words}"></label>
							</div>
							<div class="input-div">
								<input type="text" id="sWage" name="sWage" th:field="*{sWage}">
							</div>
						</div>
						<div class="col"> &nbsp;</div>
					</div>
					<!-- ***************** ROW ************************ -->	
					<div class="row-buttons">
						<button th:if="${status == 'success'}" onclick="return confirm('The new employee will be hired. Are you sure that all fields have been correctly completed?')" class="button" name="action" value="hire" type="submit" disabled th:text="#{menu.hire}"></button>
						<button th:unless="${status == 'success'}" class="button" name="action" value="hire" type="submit" th:text="#{menu.hire}"></button>
						
						
						<button th:if="${status == 'success'}" class="button" name="action" value="contract" type="submit" th:text="#{button.generateacontract}"></button>
						<button th:unless="${status == 'success'}" class="button" name="action" value="contract" type="submit" disabled th:text="#{button.generateacontract}"></button>
						
						<button th:if="${status == 'success'}" class="button" name="action" value="other" type="submit" th:text="#{button.fill.more}"></button>
						<button th:unless="${status == 'success'}" class="button" name="action" value="other" type="submit" disabled th:text="#{button.fill.more}"></button>
					</div>
			</form>
		</div>
	
	<!-- ************************************************************************* -->
	</section>
	<footer class="footer" th:replace="fragments/footer :: footer"></footer>
</body>
<script type="text/javascript" src="/scripts/recruitment2.js">
</script>
</html>